.carousel {
    &-item {
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    &-caption {
        background-color: rgba($color: #000000, $alpha: 0.5);
    }
    &-control {
        &-prev:hover {
            background: linear-gradient(to right, rgba(#000000, 0.5), transparent);
        }
        &-next:hover {
            background: linear-gradient(to left, rgba(#000000, 0.5), transparent);
        }
    }
}