<section class="banner">
  <h2 class="banner__title">A agência número um de Fortaleza</h2>

  <div class="banner__list">
    @for (item of slides(); track item.title) {
    <div class="banner__item">
      <div class="banner__icon">
        <img [src]="'../../../assets/images/' + item.icon" [alt]="item.title" />
      </div>
      <div class="banner__info">
        <h4>{{ item.title }}</h4>
        <span>{{ item.subtitle }}</span>
      </div>
    </div>
    }
  </div>
</section>

@if (familiaPrados().length) {
<section class="banner__familia-prados">
  @for (item of familiaPrados(); track $index) {
  <a [href]="item.href" class="banner__familia-prados-item">
    <img [src]="item.imageUrl" [alt]="item.title" />
  </a>
  }
</section>
}
