<div class="row mb-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">Quantidade de tickets</h5>
                        <p class="card-text">
                            <span id="tickets-count">{{ amountTickets }}</span>
                        </p>
                    </div>
                    <div>{{ valor | currency:'BRL':true:'1.2-2' }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form [formGroup]="form">
            <div formArrayName="rows">
                <mat-accordion>
                    @for (item of rows.controls; track $index) {
                        <mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header>
                                <mat-panel-title>Participantes {{ $index + 1 }}</mat-panel-title>
                            </mat-expansion-panel-header>
                            <div [formGroupName]="$index">
                                <div class="mb-3">
                                    <label for="name" class="form-label">Nome completo *</label>
                                    <input type="text" class="form-control" formControlName="name">
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">E-mail *</label>
                                    <input type="email" class="form-control" formControlName="email">
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="phone" class="form-label">Telefone *</label>
                                            <input type="text" class="form-control" formControlName="phone">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="cpf" class="form-label">CPF *</label>
                                            <input type="text" class="form-control" formControlName="cpf">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="rg" class="form-label">RG *</label>
                                            <input type="text" class="form-control" formControlName="rg">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-3">
                                            <label for="name" class="form-label">Órgão emissor *</label>
                                            <input type="text" class="form-control" formControlName="orgaoEmissor">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <label for="name" class="form-label">Data de nascimento *</label>
                                    <div class="col-md-4">
                                        <select class="form-select" formControlName="dia" aria-label="Default select example">
                                            <option disabled selected>Dia</option>
                                            @for (item of [].constructor(31); track $index) {
                                                <option [value]="$index + 1">{{  $index + 1 }}</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" name="mes" aria-label="Default select example">
                                            <option disabled selected>Mês</option>
                                            <?php foreach ($meses as $key => $value) : ?> 
                                                <option value="<?php echo $value['key']; ?>">
                                                    <?php echo $value['value']; ?>
                                                </option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <select class="form-select" name="ano" aria-label="Default select example">
                                            <option disabled selected>Ano</option>
                                            <?php 
                                                $anoAtual = date("Y"); // Pega o ano atual
                                                for ($i = $anoAtual; $i >= $anoAtual - 100; $i--) : 
                                            ?> 
                                                <option value="<?php echo $i; ?>"><?php echo $i; ?></option>
                                            <?php endfor; ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="my-3">
                                    <label for="email" class="form-label">Locais de embarque: *</label>
                                    @for (item of localEmbarque; track $index) {
                                        <div class="form-check">
                                            <input class="form-check-input" [value]="item.codigoEndereco" type="radio" formControlName="localEmbarque" checked>
                                            <label class="form-check-label" for="locale-1">{{ item.horaEmbarque }} – {{ item.nome }}</label>
                                        </div>
                                    }
                                </div>
                            </div>
                        </mat-expansion-panel>
                    }
                </mat-accordion>
            </div>
        </form>
    </div>
</div>