<div
  class="card-event"
  [ngClass]="{ 'card-event--featured': featured }"
  [routerLink]="'/pacotes/' + id"
  style="background-image: url({{ thumbnail }});"
>
  <div class="card-event__content">
    <!-- <figure class="card-event__thumbnail">
    </figure> -->
    <div class="card-event__feature">
      <span class="card-event__date">{{ duration | periodoExcursao }}</span>
      <div
        class="card-event__transport"
        style="--color: {{
          transport.includes('Terrestre') ? 'green' : '#4bb6ff'
        }}"
      >
        @if (featured) {
        <img src="assets/images/{{ getTipoTransporte(transport) }}.png" />
        }
        {{ transport }}
      </div>
    </div>
    <h2 class="card-event__title" [title]="title">{{ title }}</h2>
    <div class="flex-grow-1"></div>
    <div class="card-event__actions">
      @if (!featured) { por apenas }

      <span class="card-event__price">
        R$ <strong>{{ price | number : "1.2-2" }}</strong>
      </span>
      <span>{{ price | formataParcelas }}</span>

      @if (featured) { <span>saiba mais</span> }
    </div>
  </div>
  <svg
    class="card-event__lombada"
    viewBox="0 0 80 360"
    preserveAspectRatio="none"
  >
    <path [attr.d]="featured ? pathFeatured : pathNormal" />
  </svg>
</div>
