<div class="card-event" [routerLink]="'/pacotes/' + id">
    <div class="card-event__content">
        <figure class="card-event__thumbnail" style="background-image: url({{ thumbnail }});">
            <div class="card-event__feature">
                <div class="card-event__transport" style="--color: {{ transport.includes('Terrestre') ? 'green' : '#4bb6ff' }}">{{ transport }}</div>
                <div class="card-event__category">{{ origem }}</div>
            </div>
        </figure>
        <h2 class="card-event__title" [title]="title">{{ title }}</h2>
        <span class="card-event__date">{{ duration | periodoExcursao }}</span>
    </div>
    <div class="card-event__actions">
        Por apenas
        <span class="card-event__price">{{ price | currency:'BRL':'symbol':'1.2-2' }}</span>
    </div>
    <p class="my-3 text-center">{{ price | formataParcelas }}</p>
</div>