<main>
    <div class="container">
        <div class="display-3">Termos de uso</div>
        <hr>
        <article>
            <p align="center" class="display-6 fs-5 mt-4"><b>CONTRATO INTEGRAL DE AQUISIÇÃO DE SERVIÇOS DE VIAGEM <u>SEM AÉREO</u></b></p>
            <br>
            <p><strong>IDENTIFICAÇÃO DAS PARTES CONTRATANTES</strong></p>
            <br>
            <p><strong>CONTRATADO: </strong>Prados Turismo, identificada pelo CNPJ 31.853.548/0001-08, registrada no Ministério do Turismo sob o nº 31853548000108 e designada como AGÊNCIA.</p>
            <p><strong>CONTRATANTE:</strong> Pessoa física que registrou ou registrará seus dados em nosso site (www.pradosturismo.com.br) no momento da compra, fornecendo nome completo, CPF, número de telefone e e-mail, com o prop&oacute;sito de receber todas as informações e vouchers da viagem. Dessa forma, é considerado o responsável pela contratação do pacote e designado como CLIENTE.</p>
            <br>
            <p>As partes mencionadas anteriormente concordaram e firmaram o presente CONTRATO DE AQUISIÇÃO DE SERVIÇOS DE VIAGEM, o qual será regido pelas cláusulas a seguir descritas.</p>
            <br>
            <p><strong>TERMO DE RESPONSABILIDADE</strong></p>
            <br>
            <p>Ao contratar os serviços turísticos da AGÊNCIA, autorizo e assumo a responsabilidade pela aquisição do pacote, seja para mim ou para terceiros, atuando como passageiro ou não, e incluindo um ou mais passageiros.</p>
            <p>Passageiros, cujos dados, tais como nome completo, número para contato, RG, &oacute;rgão emissor e data de nascimento, foram registrados claramente no ato da compra.</p>
            <p>Se o CLIENTE não for a mesma pessoa que o passageiro, o CLIENTE concorda em comunicar ao passageiro as condições gerais deste contrato. Nesse caso, o CLIENTE assume a responsabilidade conjunta por quaisquer ações realizadas pelo passageiro durante a execução do contrato.</p>
            <br>
            <p><strong>DA BASE LEGAL PARA O CONTRATO</strong></p>
            <br>
            <p>A AGÊNCIA elaborou este contrato com base na Constituição Federal de 1988, no C&oacute;digo Civil de 2015, no C&oacute;digo de Defesa do Consumidor Brasileiro, no decreto n&ordm; 7381 de 02/12/2010 e na Convenção de Vars&oacute;via, bem como em outras legislações e deliberações relevantes &agrave; situação, seguindo as diretrizes propostas pela Associação Brasileira das Operadoras de Turismo - BRAZTOA.</p>
            <br>
            <p><strong>CONDIÇÕES GERAIS DA PRESTAÇÃO DE SERVIÇOS</strong></p>
            <br>
            <p>A atividade empresarial da AGÊNCIA consiste na intermediação remunerada entre consumidores e prestadores de serviços turísticos. Portanto a AGÊNCIA não presta diretamente nenhum dos serviços turísticos contratados por meio de sua intermediação, isentando-se, portanto, de responsabilidade por problemas, perdas ou danos resultantes de eventos imprevisíveis ou de força maior, como greves, distúrbios, quarentenas, guerra, fen&ocirc;menos naturais (tais como terremotos, maremotos, vulc&otilde;es, furac&otilde;es, enchentes, avalanches, nevascas), extravio, roubo ou perda de bagagem, assim como insolvência ou falência da de algum fornecedor escolhido. A AGÊNCIA não possui controle sobre modificações, atrasos ou cancelamentos de trajetos aéreos ou rodoviários, decorrentes de motivos políticos, operacionais, técnicos, de controle ou meteorol&oacute;gicos, sobre os quais não tem poder de previsão, mando ou controle.</p>
            <br>
            <p>Considerando que a viagem é organizada para um grupo, é importante que o CLIENTE esteja ciente de que a execução dela está condicionada a um número mínimo de 30 passageiros no pacote. Caso esse número mínimo não seja atingido, a AGÊNCIA se compromete a informar o CLIENTE com até 72 horas de antecedência da viagem, e realizará o reembolso integral dos valores pagos pelo CLIENTE em até 5 dias úteis.</p>
            <br>
            <p><strong>DO OBJETIVO CONTRATUAL E PAGAMENTO</strong></p>
            <br>
            <p>Este contrato tem como objetivo principal a prestação de serviços de intermediação pela AGÊNCIA ao CLIENTE, abrangendo a aquisição ou reserva do produto conforme especificado no momento da contratação. O CLIENTE deve estar ciente dos serviços adquiridos, incluindo o que está ou não incluso no respectivo preço e pacote escolhido. Os serviços incluídos são explicitamente mencionados na página no pacote antes da compra.</p>
            <br>
            <p>O pagamento será escolhido e efetuado pelo pr&oacute;prio CLIENTE, podendo ser realizado por meio de transferência bancária do valor total informado, não sendo aceito pagamento parcial. Alternativamente, o pagamento pode ser feito via cartão de crédito, permitindo parcelamento sem juros de acordo com a promoção atual.</p>
            <br>
            <p><strong>DO TRANSPORTE</strong></p>
            <br>
            <p>As empresas de transporte rodoviário contratadas são integralmente responsáveis pelo cumprimento das leis e normas regulamentares aplicáveis, incluindo a obrigat&oacute;ria cobertura de seguros.</p>
            <br>
            <p>Conforme a Agência Nacional de Transportes Terrestres (ANTT), é permitido transportar, por pessoa, bagagem de até 30 (trinta) quilos no bagageiro, com a maior dimensão de qualquer volume limitada a 1 (um) metro. Além disso, é permitido um volume de até 5 (cinco) quilos como &quot;bagagem de mão,&quot; com dimens&otilde;es compatíveis com o espaço interno acima dos assentos dos &ocirc;nibus.</p>
            <br>
            <p>Os assentos serão distribuídos por ordem de aquisição do pacote. O CLIENTE não poderá escolher o assento de sua preferÊncia. A AGÊNCIA fará o possível para proporcionar uma boa experiÊncia, tentando alocar os passageiros pr&oacute;ximos de seus acompanhantes.</p>
            <br>
            <p><strong>DE ALTERAÇÕES NO ROTEIRO E CONDIÇÕES DE EMBARQUE</strong></p>
            <br>
            <p>O roteiro poderá ser invertido ou alterado por motivos técnicos ou operacionais, sempre a critério da AGÊNCIA. O CLIENTE não terá a possibilidade de realizar alterações.</p>
            <br>
            <p>O CLIENTE reconhece que qualquer perturbação ou ameaça &agrave; saúde, integridade física ou moral de qualquer pessoa resultará em sua exclusão da viagem, sem qualquer redução do preço. Além disso, compromete-se a não fraudar, violar ou descumprir os termos estabelecidos neste contrato, sob pena das sanções previstas no mesmo.</p>
            <br>
            <p>A AGÊNCIA ressalta que a transportadora aérea e os transportes terrestres, bem como os passeios durante a viagem, não disp&otilde;em de tempo de toler&acirc;ncia para atrasos, com exceção dos embarques terrestres em Fortaleza, onde disponibilizamos um período de toler&acirc;ncia de 15 minutos para eventuais atrasos. O CLIENTE assume a responsabilidade de estar ciente de todos os horários programados no roteiro, disponíveis em nosso site e informados nos nossos canais de comunicação direta de forma clara. O não cumprimento dos horários estabelecidos pode resultar em não embarque, levando ao cancelamento da viagem e sujeito a penalidades conforme estipulado, isentando a AGÊNCIA de qualquer responsabilidade.</p>
            <br>
            <p><strong>CONDIÇÕES DOS FORNCEDORES</strong></p>
            <br>
            <p>A AGÊNCIA ressalta a import&acirc;ncia de verificar as regras e políticas de cada fornecedor contratado, tais como transporte, hospedagem e passeios. Essas informações serão fornecidas de maneira clara durante a viagem.</p>
            <br>
            <p><strong>DOCUMENTAÇÃO DE VIAGEM - VOUCHERS, PASSAGENS E DOCUMENTOS PESSOAIS:</strong></p>
            <br>
            <p>A AGÊNCIA emitirá os documentos de viagem assim que liberados pelos prestadores de serviços. A documentação pessoal legível e atual (passaporte, vistos, vacinas, autorizações para menores etc.) é responsabilidade exclusiva do CLIENTE.</p>
            <br>
            <p><strong>POLÍTICA DE CANCELAMENTO, CARTA DE CRÉDITO E REEMBOLSO:</strong></p>
            <br>
            <p>Pedidos de cancelamento ou carta de crédito implicam multas e penalidades de acordo com contratos da AGÊNCIA com fornecedores. Para pacotes de viagem em grupo:</p>
            <br>
            <p>Até 16 dias antes da viagem:</p>
            <p>Para reembolso: multa de 5% do valor total por pessoa se o pagamento foi realizado via cartão de crédito, e 0% de multa se efetuado por transferÊncia bancária.</p>
            <p>Para carta de crédito: Não será aplicada multa.</p>
            <p>De 15 a 8 dias antes da viagem:</p>
            <p>Para reembolso e carta de crédito: multa de 50% do valor total por pessoa, independentemente da forma de pagamento.</p>
            <p>7 dias ou menos antes da viagem: <strong>NÃO HÁ REEMBOLSO NEM CARTA DE CRÉDITO.</strong></p>
            <br>
            <p>Os pedidos de cancelamento ou carta de crédito devem ser comunicados &agrave; AGÊNCIA por escrito ou meios eletr&ocirc;nicos. O CLIENTE reconhece as penalidades decorrentes das condições estabelecidas pelos fornecedores e não exclusivamente por decisão da AGÊNCIA.</p>
            <br>
            <p>A carta de crédito terá validade de 1 ano ap&oacute;s o cancelamento formal realizado pela AGÊNCIA. Ela pode ser utilizada em qualquer produto do catálogo da AGÊNCIA, de forma integral ou parcial, e pode ser transferida. Ap&oacute;s a escolha da carta de crédito, o CLIENTE fica ciente de que não poderá mais solicitar o reembolso dos valores correspondentes &agrave; carta de crédito.</p>
            <br>
            <p>O direito de arrependimento, conforme estipulado pela legislação e regras dos fornecedores, permite que o CLIENTE solicite a devolução do valor do pacote turístico no prazo de 7 dias ap&oacute;s a celebração do contrato desde que a compra tenha sido realizada com antecedência de 7 dias em relação &agrave; data de embarque. Esse pedido deve ser comunicado &agrave; AGÊNCIA por escrito ou meios eletr&ocirc;nicos. A AGÊNCIA auxiliará na apresentação da solicitação ao fornecedor do serviço, sendo que, se o fornecedor já tiver recebido o pagamento, será responsável pela devolução.</p>
            <br>
            <p>A AGÊNCIA realizará o reembolso do valor devido em até 30 dias, com a dedução das despesas administrativas do valor total do contrato, conforme proporção mencionada anteriormente.</p>
            <br>
            <p><strong>ALTERAÇÕES</strong></p>
            <br>
            <p>Os itens descritos no presente contrato poderão sofrer alterações, unilateralmente e a qualquer momento, por parte da AGÊNCIA, visando adequar ou modificar os serviços, bem como atender novas exigências legais. As alterações serão divulgadas através do nosso site (www.pradosturismo.com.br) ou por meio de canais de comunicação, como Instagram e WhatsApp. O usuário terá a opção de aceitar o novo conteúdo ou de cancelar o uso dos serviços.</p>
            <br>
            <p><strong>CONTRATO DE AQUISIÇÃO DE SERVIÇOS DE VIAGEM:</strong></p>
            <br>
            <p>O pagamento do pacote e a visualização deste contrato pelo nosso site no momento da compra demonstram que o CLIENTE recebeu, analisou e concordou com as cláusulas, mesmo sem a necessidade de devolução &agrave; AGÊNCIA.</p>
            <br>
            <p><strong>DO FORO:</strong></p>
            <br>
            <p>As partes elegem o foro da Comarca de Fortaleza/CE para possíveis demandas judiciais relacionadas a este contrato.</p>
            <p align="center">_______________________________________________</p>
            <br>
            <p align="center" class="display-6 fs-5"><b>CONTRATO DE AQUISIÇÃO DE SERVIÇOS DE VIAGEM <u>COM AÉREO</u></b></p>
            <br>
            <p><strong>IDENTIFICAÇÃO DAS PARTES CONTRATANTES</strong></p>
            <br>
            <p>CONTRATADO: Prados Turismo, identificada pelo CNPJ 31.853.548/0001-08, registrada no Ministério do Turismo sob o n&ordm; 31853548000108 e designada como AGÊNCIA.</p>
            <br>
            <p>CONTRATANTE: Pessoa física que registrou ou registrará seus dados em nosso site (www.pradosturismo.com.br) no momento da compra, fornecendo nome completo, CPF, número de telefone e e-mail, com o prop&oacute;sito de receber todas as informações e vouchers da viagem. Dessa forma, é considerado o responsável pela contratação do pacote e designado como CLIENTE.</p>
            <br>
            <p>As partes mencionadas anteriormente concordaram e firmaram o presente CONTRATO DE AQUISIÇÃO DE SERVIÇOS DE VIAGEM, o qual será regido pelas cláusulas a seguir descritas.</p>
            <br>
            <p><strong>TERMO DE RESPONSABILIDADE</strong></p>
            <br>
            <p>Ao contratar os serviços turísticos da AGÊNCIA, autorizo e assumo a responsabilidade pela aquisição do pacote, seja para mim ou para terceiros, atuando como passageiro ou não, e incluindo um ou mais passageiros.</p>
            <br>
            <p>Passageiros, cujos dados, tais como nome completo, número para contato, RG, &oacute;rgão emissor, gênero e data de nascimento, foram registrados claramente no ato da compra.</p>
            <br>
            <p>Se o CLIENTE não for a mesma pessoa que o passageiro, o CLIENTE concorda em comunicar ao passageiro as condições gerais deste contrato. Nesse caso, o CLIENTE assume a responsabilidade conjunta por quaisquer ações realizadas pelo passageiro durante a execução do contrato.</p>
            <br>
            <p><strong>DA BASE LEGAL PARA O CONTRATO</strong></p>
            <br>
            <p>A AGÊNCIA elaborou este contrato com base na Constituição Federal de 1988, no C&oacute;digo Civil de 2015, no C&oacute;digo de Defesa do Consumidor Brasileiro, no decreto n&ordm; 7381 de 02/12/2010 e na Convenção de Vars&oacute;via, bem como em outras legislações e deliberações relevantes &agrave; situação, seguindo as diretrizes propostas pela Associação Brasileira das Operadoras de Turismo - BRAZTOA.</p>
            <br>
            <p><strong>CONDIÇÕES GERAIS DA PRESTAÇÃO DE SERVIÇOS</strong></p>
            <br>
            <p>A atividade empresarial da AGÊNCIA consiste na intermediação remunerada entre consumidores e prestadores de serviços turísticos. Portanto a AGÊNCIA não presta diretamente nenhum dos serviços turísticos contratados por meio de sua intermediação, isentando-se, portanto, de responsabilidade por problemas, perdas ou danos resultantes de eventos imprevisíveis ou de força maior, como greves, distúrbios, quarentenas, guerra, fen&ocirc;menos naturais (tais como terremotos, maremotos, vulc&otilde;es, furac&otilde;es, enchentes, avalanches, nevascas), extravio, roubo ou perda de bagagem, assim como insolvência ou falência de fornecedores escolhidos. A AGÊNCIA não possui controle sobre modificações, atrasos ou cancelamentos de trajetos aéreos ou rodoviários, decorrentes de motivos políticos, operacionais, técnicos, de controle ou meteorol&oacute;gicos, sobre os quais não tem poder de previsão, mando ou controle.</p>
            <br>
            <p>Considerando que a viagem é organizada para um grupo, é importante que o CLIENTE esteja ciente de que a execução dela está condicionada a um número mínimo de 10 passageiros no pacote. Caso esse número mínimo não seja atingido, a AGÊNCIA se compromete a informar o CLIENTE com até 72 horas de antecedência da viagem, e realizará o reembolso integral dos valores pagos pelo CLIENTE em até 5 dias úteis.</p>
            <br>
            <p><strong>DO OBJETIVO CONTRATUAL E PAGAMENTO</strong></p>
            <br>
            <p>Este contrato tem como objetivo principal a prestação de serviços de intermediação pela AGÊNCIA ao CLIENTE, abrangendo a aquisição ou reserva do produto conforme especificado no momento da contratação. O CLIENTE deve estar ciente dos serviços adquiridos, incluindo o que está ou não incluso no respectivo preço e pacote escolhido. Os serviços incluídos são explicitamente mencionados na página no pacote antes da compra.</p>
            <br>
            <p>O pagamento será escolhido e efetuado pelo pr&oacute;prio CLIENTE, podendo ser realizado por meio de transferÊncia bancária do valor total informado, não sendo aceito pagamento parcial. Alternativamente, o pagamento pode ser feito via cartão de crédito, permitindo parcelamento sem juros de acordo com a promoção atual.</p>
            <br>
            <p><strong>DO BILHETE DE PASSAGEM E CONDIÇÕES AÉREAS</strong></p>
            <br>
            <p>O bilhete de passagem aérea ou e-ticket é regido pelas normas internacionais (Convenção de Vars&oacute;via) e pelo C&oacute;digo Brasileiro de Aeronáutica. As Companhias Aéreas reservam o direito de alterar ou excluir voos, o que pode incluir, por exemplo, a alteração do horário de embarque, do itinerário ou o aumento do tempo de espera nos aeroportos. Ressaltamos que em todos os casos, a responsabilidade recai exclusivamente sobre a companhia aérea, uma vez que a AGÊNCIA não tem controle ou poder de decisão sobre ela. Em casos de alterações nos voos, o grupo inteiro será reacomodado, considerando que se trata de um pacote de &quot;viagens em grupo&quot;.</p>
            <br>
            <p>A apresentação do passageiro sem a documentação necessária, ilegível e/ou rasurada implicará no não embarque. A responsabilidade pela perda do embarque, consequÊncias e encargos decorrentes de não comparecimento do passageiro, ou comparecimento fora do horário e local programado, será exclusivamente do passageiro. A AGÊNCIA cumpriu sua obrigação de informar ao CLIENTE sobre essas exigências, isentando-se de culpa caso algum passageiro as descumpra por ação ou omissão.</p>
            <br>
            <p>O transporte de bagagens seguirá os critérios de cada companhia aérea, respeitando as orientações da ANAC. As companhias aéreas nacionais oferecem gratuitamente apenas a bagagem de mão. O CLIENTE tem a opção de adquirir o serviço de bagagem despachada de 23kg até o momento do embarque. Danos ou extravios de bagagem devem ser reclamados diretamente &agrave; companhia de transporte, e a AGÊNCIA não se responsabiliza por roubo de documentos, valores e objetos pessoais durante a viagem.</p>
            <br>
            <p>Os assentos serão distribuídos para o grupo de forma aleat&oacute;ria. O CLIENTE não poderá escolher o assento de sua preferÊncia. A AGÊNCIA fará o possível para proporcionar uma boa experiÊncia, tentando alocar os passageiros pr&oacute;ximos de seus acompanhantes.</p>
            <br>
            <p>As Companhias Aereas não transportam crianças de 0 a 5 anos incompletos desacompanhadas. é necessário que se tenha um responsável maior de 18 anos munido de autorização legal.</p>
            <br>
            <p><strong>DE ALTERAÇÕES NO ROTEIRO E CONDIÇÕES DE EMBARQUE</strong></p>
            <br>
            <p>O roteiro poderá ser invertido ou alterado por motivos técnicos ou operacionais, sempre a critério da AGÊNCIA. O CLIENTE não terá a possibilidade de realizar alterações.</p>
            <br>
            <p>O CLIENTE reconhece que qualquer perturbação ou ameaça &agrave; saúde, integridade física ou moral de qualquer pessoa resultará em sua exclusão da viagem, sem qualquer redução do preço. Além disso, compromete-se a não fraudar, violar ou descumprir os termos estabelecidos neste contrato, sob pena das sanções previstas no mesmo.</p>
            <br>
            <p>A AGÊNCIA ressalta que a transportadora aérea e os transportes terrestres, bem como os passeios durante a viagem, não disp&otilde;em de tempo de toler&acirc;ncia para atrasos. O CLIENTE assume a responsabilidade de estar ciente de todos os horários programados no roteiro, disponíveis em nosso site e informados nos nossos canais de comunicação direta de forma clara. O não cumprimento dos horários estabelecidos pode resultar em não embarque, levando ao cancelamento da viagem e sujeito a penalidades conforme estipulado, isentando a AGÊNCIA de qualquer responsabilidade.</p>
            <br>
            <p><strong>CONDIÇÕES DOS FORNCEDORES</strong></p>
            <br>
            <p>A AGÊNCIA ressalta a import&acirc;ncia de verificar as regras e políticas de cada fornecedor contratado, tais como transporte, hospedagem e passeios. Essas informações serão fornecidas de maneira clara durante a viagem.</p>
            <br>
            <p><strong>DOCUMENTAÇÃO DE VIAGEM - VOUCHERS, PASSAGENS E DOCUMENTOS PESSOAIS:</strong></p>
            <br>
            <p>A AGÊNCIA emitirá os documentos de viagem assim que liberados pelos prestadores de serviços. A documentação pessoal legível e atual (passaporte, vistos, vacinas, autorizações para menores etc.) é responsabilidade exclusiva do CLIENTE.</p>
            <br>
            <p><strong>POLÍTICA DE ALTERAÇÃO, CANCELAMENTO E REEMBOLSO:</strong></p>
            <br>
            <p>Pedidos de cancelamento, alteração ou carta de crédito implicam multas e penalidades de acordo com contratos da AGÊNCIA com fornecedores. Para pacotes de viagem em grupo com aéreo:</p>
            <br>
            <p>Até 120 dias antes: multa de 10% do valor total por pessoa.</p>
            <p>De 119 a 90 dias antes: multa de 30% do valor total por pessoa.</p>
            <p>De 89 a 60 dias antes: multa de 40% do valor total por pessoa.</p>
            <p>De 59 a 40 dias antes: multa de 50% do valor total por pessoa.</p>
            <p>39 dias ou menos antes: <strong>NÃO HÁ REEMBOLSO NEM CARTA DE CRéDITO.</strong></p>
            <br>
            <p>Os pedidos de cancelamento ou carta de crédito devem ser comunicados &agrave; AGÊNCIA por escrito ou meios eletr&ocirc;nicos. O CLIENTE reconhece as penalidades devido a condições dos fornecedores, especialmente companhias aéreas, e não por decisão exclusiva da AGÊNCIA. Voos com tarifas promocionais não permitem alterações/cancelamentos. A AGÊNCIA sugere seguro com opção de &quot;cancelamento de viagem&quot;.</p>
            <br>
            <p>A carta de crédito terá validade de 1 ano ap&oacute;s o cancelamento formal realizado pela AGÊNCIA. Ela pode ser utilizada em qualquer produto do catálogo da AGÊNCIA, de forma integral ou parcial, e pode ser transferida. Ap&oacute;s a escolha da carta de crédito, o CLIENTE fica ciente de que não poderá mais solicitar o reembolso dos valores correspondentes &agrave; carta de crédito.</p>
            <br>
            <p>O direito de arrependimento, conforme estipulado pela legislação e regras dos fornecedores, permite que o CLIENTE solicite a devolução do valor do pacote turístico no prazo de 7 dias ap&oacute;s a celebração do contrato desde que a compra tenha sido realizada com antecedência de 7 dias em relação &agrave; data de embarque. Esse pedido deve ser comunicado &agrave; AGÊNCIA por escrito ou meios eletr&ocirc;nicos. A AGÊNCIA auxiliará na apresentação da solicitação ao fornecedor do serviço, sendo que, se o fornecedor já tiver recebido o pagamento, será responsável pela devolução. No entanto, para serviços de transporte aéreo, as companhias aéreas podem estabelecer condições específicas de cancelamento, com a possibilidade de exercer o direito de arrependimento em até 24 horas ap&oacute;s a compra, sujeito &agrave;s políticas individuais de cada companhia.</p>
            <br>
            <p>A AGÊNCIA realizará o reembolso do valor devido em até 30 dias, com a dedução das despesas administrativas do valor total do contrato, conforme proporção mencionada anteriormente.</p>
            <br>
            <p><strong>ALTERAÇÕES</strong></p>
            <br>
            <p>Os itens descritos no presente contrato poderão sofrer alterações, unilateralmente e a qualquer momento, por parte da AGÊNCIA, visando adequar ou modificar os serviços, bem como atender novas exigências legais. As alterações serão divulgadas através do nosso site (www.pradosturismo.com.br) ou por meio de canais de comunicação, como Instagram e WhatsApp. O usuário terá a opção de aceitar o novo conteúdo ou de cancelar o uso dos serviços.</p>
            <br>
            <p><strong>CONTRATO DE AQUISIÇÃO DE SERVIÇOS DE VIAGEM:</strong></p>
            <br>
            <p>O pagamento do pacote e a visualização deste contrato pelo nosso site no momento da compra demonstram que o CLIENTE recebeu, analisou e concordou com as cláusulas, mesmo sem a necessidade de devolução &agrave; AGÊNCIA.</p>
            <br>
            <p><strong>DO FORO:</strong></p>
            <br>
            <p>As partes elegem o foro da Comarca de Fortaleza/CE para possíveis demandas judiciais relacionadas a este contrato.</p>
        </article>
    </div>
</main>