<div class="p-2">
  <div class="d-flex justify-content-end">
    <button mat-icon-button mat-dialog-close>
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <mat-tab-group class="px-4 pb-4">
    <mat-tab label="Entrar">
      <div class="pt-5 w-100">
        <app-acesso-login [loading]="loadingLogin" (login)="login($event)" />
      </div>
    </mat-tab>
    <mat-tab label="Cadastre-se">
      <div class="pt-5 w-100">
        <app-acesso-cadastro
          [form]="formRegister"
          [loading]="loadingRegister"
          (email)="register($event)"
        />
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
