<section class="home__features">
  <div class="container">
    <div class="home__box">
      <div class="home__title text-white">
        <h3 class="fs-1 text-uppercase">Pacotes em destaque</h3>
      </div>
      @if (excursoes().length > 0) {
      <div class="home__excursoes mt-3">
        @for (item of excursoes(); track $index) {
        <div class="home__excursao home__excursao--featured">
          <app-excursao-card
            [featured]="true"
            [shadow]="false"
            [id]="item.id"
            [thumbnail]="hasUrl(item.Pacotes.Imagem)"
            [title]="item.nome"
            [duration]="item"
            [origem]="item.Pacotes.origem"
            [transport]="item.Pacotes.tipoTransporte"
            [price]="item.valor"
          >
          </app-excursao-card>
        </div>
        }
      </div>
      } @else {
      <span class="d-block text-center display-6 fs-5 mt-4 text-white">
        Nenhuma excursão encontrada.
      </span>
      }
    </div>
  </div>
</section>
