<footer class="footer">
  <div class="footer__informations">
    <div class="container">
      <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="footer__sitemap">
          <figure class="footer__logo">
            <img src="assets/images/logo.webp" alt="Logo - Prados Turismo" />
          </figure>
        </div>
        <div class="flex-grow-1"></div>
        <div class="footer__sac">
          <div class="footer__content">
            <p>Segunda a sexta 9:00 ás 22:00h</p>
            <p>Sábado e domingo 9:00 ás 17:00h (atendimento reduzido)</p>
            <p>Viajantes em viajem: atendimento 24h</p>
            <p>+55 (85) 9 9746-0786</p>
            <p>Fortaleza, Ceará</p>
            <p>
              <a href="mailto:contato@pradosturismo.com.br"
                >contato&#64;pradosturismo.com.br</a
              >
            </p>
          </div>
        </div>
        <div class="footer__sitemap">
          <ul class="footer__list">
            <li>
              <a href="Javascript:;" routerLink="/">Início</a>
            </li>

            <li>
              <a href="Javascript:;" routerLink="/faq">Ajuda</a>
            </li>

            <li>
              <a href="Javascript:;" routerLink="/minha-conta">Conta</a>
            </li>

            <li>
              <a href="Javascript:;" routerLink="/formas-pagamento"
                >Formas de Pagamento</a
              >
            </li>

            <li>
              <a href="Javascript:;" routerLink="/sobre-nos">Sobre nós</a>
            </li>

            <li>
              <a href="Javascript:;" routerLink="/politica-privacidade"
                >Política de Privacidade</a
              >
            </li>

            <li>
              <a href="Javascript:;" routerLink="/termos-uso">Termos de Uso</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer__copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-4 d-flex justify-content-center flex-column">
          <strong>Emannuel Wallysson Aguiar do Prado.</strong>
          <strong>Todos os direitos reservados - 2025</strong>
          <span>CNPJ 31.853.548/0001-08</span>
        </div>
        <div class="col-md-4 d-flex justify-content-center flex-column">
          <ul class="footer__social-icons">
            <li class="footer__icon">
              <a href="https://www.facebook.com/pradosturismo" target="_blank">
                <i class="fa-brands fa-facebook-f"></i>
              </a>
            </li>
            <li class="footer__icon">
              <a href="https://www.instagram.com/pradosturismo" target="_blank">
                <i class="fa-brands fa-instagram"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="d-flex flex-column"></div>
    </div>

    <a
      class="btn-float btn-success"
      matTooltip="Solicitar agora"
      matTooltipPosition="before"
      mat-icon-button
      [href]="whatsappLink"
      target="_blank"
    >
      <i class="fa-brands fa-whatsapp me-2"></i>
    </a>
  </div>
</footer>
