<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                        <div class="card-title m-0">
                            <strong>Pedido:</strong> {{ reserva()!.reserva | labelReserva }} - {{ reserva()!.dataCadastro | date: 'dd/MM/yyyy' }}
                        </div>
                        <div class="card-text">
                            <span class="text-{{ reserva()!.status ? 'success' : 'warning' }}">{{ reserva()!.status ? 'Aprovado' : 'Aguardando' }}</span>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row my-3">
    <div class="col-md-12">
        <div class="my-account__order-content">
            <div class="my-account__thumb" style="--background: {{ reserva()!.idExcursao | thumbnail | async }}"></div>
            <div class="my-account__event">
                <div class="my-account__name">
                    <strong>Evento: </strong> {{ reserva()!.Excursao.nome }}
                </div>
                <div class="my-account__date my-2">
                    <strong>Data do evento:</strong> {{ reserva()!.Excursao | periodo }}
                </div>
                <div class="my-account__date">
                    <strong>Valor dos ingressos:</strong> {{ valorIngresso() | currency: 'BRL' }}
                </div>
                @if (hasOptionals()) {
                    <div class="my-account__date my-2">
                        <strong>Lista de opcionais:</strong> 
                        <div class="d-flex flex-column">
                            @for (item of reserva()!.Opcionais; track $index) {
                                - {{ item.qtd }}x {{ item.Produto.nome }}
                            }
                        </div>
                    </div>
                    <div class="my-account__date">
                        <strong>Valor dos opcionais:</strong> {{ valorOpcionais() | currency: 'BRL' }}
                    </div>
                }
                <div class="my-account__date">
                    <strong>Valor da transação:</strong> {{ valorTransacoes() | currency: 'BRL' }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3 class="display-6 fs-4 mb-4">Dados do passageiro</h3>
        <table class="event__table event__table--no-last-border table">
            <tbody>
                <tr>
                    <th scope="row">E-mail</th>
                    <td>{{ client()!.email | emptyLabel }}</td>
                </tr>
                <tr>
                    <th scope="row">Telefone</th>
                    <td>{{ client()!.telefone | emptyLabel }}</td>
                </tr>
                <tr>
                    <th scope="row">RG</th>
                    <td>{{ client()!.rg | emptyLabel }}</td>
                </tr>
                <tr>
                    <th scope="row">Órgão emissor</th>
                    <td>{{ client()!.emissor | uppercase | emptyLabel }}</td>
                </tr>
                <tr>
                    <th scope="row">Data de nascimento</th>
                    <td>{{ (client()!.dataNascimento | date: 'dd/MM/yyyy')! | emptyLabel }}</td>
                </tr>
                <tr>
                    <th scope="row">Locais de embarque</th>
                    <td>{{ reserva()!.LocalEmbarque.id | asyncLocalEmbarque | async }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="d-flex justify-content-end">
    <button class="btn btn-light" mat-dialog-close>Voltar</button>
</div>