<figure class="programa-fidelidade__icon">
  <img [src]="urlImagem()" [alt]="urlAlt()" />
</figure>
<div class="programa-fidelidade__content">
  <div class="programa-fidelidade__ranking">
    <span>{{ nome() | uppercase }}</span
    >{{ formatedTravel(qtdViagens()!) }}
  </div>
  <div class="programa-fidelidade__beneficios">
    <i class="fa-solid fa-award"></i>
    <div>
      <span>Recompensas:</span>
      <ul>
        @for (benefit of beneficio(); track $index) {
          <li>{{ benefit }}</li>
        }
      </ul>
    </div>
  </div>
</div>
