<main class="mt-80">
    <div class="container">
        <div class="display-3 ">Politica de privacidade da Prados Turismo</div>
        <hr>
        <article>
            <p class="text-center"><b>Atualizada em 05/08/2021</b></p>
            <p>A Prados Turismo se compromete em proteger a sua privacidade e garantir seus direitos.</p>
            <p>Por isso, na presente pol&iacute;tica de privacidade, nos termos da Lei Geral de Prote&ccedil;&atilde;o de Dados (Lei Federal n. 13.709/2018), esclarecemos quais informa&ccedil;&otilde;es s&atilde;o coletadas dos Clientes, a forma como esses dados s&atilde;o manipulados e os direitos dos propriet&aacute;rios dos dados.</p>
            <p>A Lei Geral de Prote&ccedil;&atilde;o de Dados (LGPD) regula como as empresas podem tratar os dados pessoais e confere a voc&ecirc; uma s&eacute;rie de direitos que podem ser exercidos a qualquer momento pelos titulares dos dados. Esses direitos garantem que voc&ecirc; tenha transpar&ecirc;ncia, acesso e controle em rela&ccedil;&atilde;o &agrave;s pr&aacute;ticas de tratamento com os seus dados pessoais.</p>
            <p>Para a finalidade da presente pol&iacute;tica de privacidade, ser&atilde;o considerados como Clientes:</p>
            <ul>
                <li>Os &ldquo;Usu&aacute;rios da Loja Virtual&rdquo; da lojista;</li>
                <li>Os &ldquo;Compradores&rdquo; ou &ldquo;Clientes finais&rdquo;, estes os usu&aacute;rios que preencheram formul&aacute;rio ou de qualquer forma inclu&iacute;ram dados pelas lojas virtuais e redes sociais da lojista).</li>
            </ul>
            <p>A pol&iacute;tica &eacute; aplic&aacute;vel a todos os clientes que acessarem ou converterem nas lojas virtuais, landing pages, redes sociais, etc, disponibilizados pela Prados Turismo e suas empresas afiliadas.</p>
            <p>Caso n&atilde;o concorde com os termos deste Instrumento, &eacute; importante que interrompa qualquer tipo de uso de nossos softwares, sistemas, ferramentas e lojas virtuais; bem como n&atilde;o insira qualquer informa&ccedil;&atilde;o de dados pessoais em nossas ferramentas autom&aacute;ticas de captura de informa&ccedil;&otilde;es.&nbsp;</p>
            <p>Em caso de d&uacute;vidas, entre em contato conosco pelo email emannuel_prado&#64;hotmail.com. Ser&aacute; um prazer lhe orientar.</p>
            <h2><b>Controle e responsabilidade sobre os dados</b></h2>
            <p>A Lei Federal n. 13.709/2018 (Lei Geral de Prote&ccedil;&atilde;o de Dados) detalha dois principais agentes e suas responsabilidades em rela&ccedil;&atilde;o aos dados:</p>
            <ol>
                <li>Controlador: &eacute; a empresa que controla os dados dos titulares. &Eacute; respons&aacute;vel pela coleta e utiliza&ccedil;&atilde;o dos dados conforme permiss&atilde;o do titular e de acordo com as finalidades da lei. Considerado pela lei como respons&aacute;vel prim&aacute;rio pelos dados. De forma simples, &eacute; quem &eacute; respons&aacute;vel pelo que ser&aacute; feito (&ldquo;tratamento&rdquo;) com os dados.</li>
            </ol>
            <ol start="2">
                <li>Operador: &eacute; a empresa que o controlador utiliza para realizar opera&ccedil;&otilde;es de tratamento espec&iacute;ficas com os dados, tais como armazenar e processar os dados pessoais coletados. Considerado pela lei como respons&aacute;vel secund&aacute;rio pelos dados. De forma simples, ela executa o que o controlador decide sobre o que ser&aacute; feito (&ldquo;tratamento&rdquo;) com os dados.</li>
            </ol>
            <p>A Prados Turismo &eacute; considerada <b>controladora</b> de dados dos seus Clientes e respons&aacute;vel pelo tratamento e prote&ccedil;&atilde;o de dados capturados por esta loja virtual, suas ferramentas, iscas ou outras formas neste meio digital. Portanto, o exerc&iacute;cio dos seus direitos enquanto titular dever&aacute; ser exercido perante esta, na forma descrita neste documento.</p>
            <h3>Defini&ccedil;&otilde;es de Cliente</h3>
            <p>Para as finalidades desta pol&iacute;tica de privacidade, o termo Cliente, quanto escrito em letra mai&uacute;scula, dever&aacute; contemplar:&nbsp;</p>
            <ul>
                <li>Usu&aacute;rios da Loja Virtual: qualquer pessoa (f&iacute;sica ou jur&iacute;dica) que realize o contato ou interaja com nossos canais digitais e/ou demonstram interesse em nossos produtos ou servi&ccedil;os disponibilizados na loja virtual.</li>
                <li>Compradores: usu&aacute;rios da loja virtual que preencheram formul&aacute;rio e/ou realizaram um pedido pela loja virtual.</li>
            </ul>
            <p>Ao entrar em contato com a Prados Turismo, a partir de funcionalidades dispon&iacute;veis nas lojas virtuais, dados pessoais de identifica&ccedil;&atilde;o ou de outra natureza com intuito de obter informa&ccedil;&otilde;es sobre servi&ccedil;os ou produtos ou de requerer a presta&ccedil;&atilde;o de um servi&ccedil;o, este usu&aacute;rio ser&aacute; caracterizado como &ldquo;Compradores&rdquo; e, portanto, a presente pol&iacute;tica de privacidade tamb&eacute;m se aplicar&aacute; a voc&ecirc;.&nbsp;</p>
            <h2>1. Quais dados s&atilde;o coletados?</h2>
            <p>Os dados pessoais que podem ser coletados pela Prados Turismo no &acirc;mbito desta Pol&iacute;tica s&atilde;o:&nbsp;</p>
            <br>
            <p><b>Usu&aacute;rios da Loja Virtual</b></p>
            <br>
            <ul>
                <li>Dados de navega&ccedil;&atilde;o: por exemplo, endere&ccedil;o IP, localiza&ccedil;&atilde;o - pa&iacute;s, informa&ccedil;&otilde;es sobre as p&aacute;ginas visitadas pelo usu&aacute;rio dentro da loja virtual, tempo de acesso na loja virtual, tempo de navega&ccedil;&atilde;o em cada p&aacute;gina, an&aacute;lise de rastreamento de cliques).</li>
            </ul>
            <p>Embora a Prados Turismo n&atilde;o recolha estas informa&ccedil;&otilde;es para as associar a Usu&aacute;rios espec&iacute;ficos, &eacute; poss&iacute;vel identificar esses Usu&aacute;rios diretamente atrav&eacute;s destas informa&ccedil;&otilde;es ou pelo uso de outras informa&ccedil;&otilde;es &agrave;s quais a Prados Turismo tenha acesso.</p>
            <ul>
                <li>Cookies: pequenos arquivos de texto que podem ser enviados e registrados no computador do Usu&aacute;rio que lembram as lojas virtuais visitadas, proporcionando uma melhor experi&ecirc;ncia para o usu&aacute;rio na pr&oacute;xima vez que as lojas virtuais sejam visitadas. Veja mais sobre Cookies na se&ccedil;&atilde;o &ldquo;Como os dados s&atilde;o coletados/processados&rdquo;.</li>
            </ul>
            <br>
            <p><b>Para Compradores</b></p>
            <br>
            <ul>
                <li>Informa&ccedil;&otilde;es Cadastrais:<b>&nbsp;</b>al&eacute;m das informa&ccedil;&otilde;es elencadas para os &ldquo;usu&aacute;rios da loja virtual&rdquo;, ao realizar um contato para saber mais informa&ccedil;&otilde;es ou adquirir os nossos servi&ccedil;os, voc&ecirc; poder&aacute; nos fornecer: nome completo, n&uacute;mero do CPF, telefone de contato, endere&ccedil;o de e-mail, informa&ccedil;&otilde;es necess&aacute;rias para o passeio espec&iacute;fico, informa&ccedil;&otilde;es de pagamento, bem como outras informa&ccedil;&otilde;es essenciais para a finaliza&ccedil;&atilde;o da cota&ccedil;&atilde;o ou compra, que ser&atilde;o exibidas ao seu titular.</li>
            </ul>
            <p>Atente que, a depender dos servi&ccedil;os, dados de menores ou sens&iacute;veis poder&atilde;o ser requisitados. Em tais casos, garantimos o tratamento adequado, nos termos da Lei.</p>
            <p>Veja abaixo algumas das informa&ccedil;&otilde;es cadastrais que poder&atilde;o ser coletadas:&nbsp;</p>
            <table width="601" class="my-3">
                <tbody>
                    <tr>
                        <td valign="top">
                            <p><b>Dados coletados</b></p>
                        </td>
                        <td valign="top">
                            <p><b>Cliente</b></p>
                        </td>
                        <td valign="top">
                            <p><b>Como &eacute; capturado</b></p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" style="color: unset; font-family: Poppins; border-left: 1pt solid black; border-right: 1pt solid black; border-top: 1pt solid black; border-bottom: 1pt solid black; width: 247px;">
                            <p>Nome, e-mail, telefone, CPF, produto ou servi&ccedil;o de interesse.</p>
                            <p><span style="color: red;">Incluir todas as informa&ccedil;&otilde;es pass&iacute;veis de captura pelos usu&aacute;rios</span></p>
                        </td>
                        <td valign="top" style="color: unset; font-family: Poppins; border-left: 1pt solid black; border-right: 1pt solid black; border-top: 1pt solid black; border-bottom: 1pt solid black; width: 247px;">
                            <p>Compradores</p>
                        </td>
                        <td valign="top" style="color: unset; font-family: Poppins; border-left: 1pt solid black; border-right: 1pt solid black; border-top: 1pt solid black; border-bottom: 1pt solid black; width: 247px;">
                            <p>Formul&aacute;rios de compra na loja virtual</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" style="color: unset; font-family: Poppins; border-left: 1pt solid black; border-right: 1pt solid black; border-top: none; border-bottom: 1pt solid black; width: 247px;">
                            <p><span><span style="color: rgb(55, 53, 47);font-family: Poppins;">Informa&ccedil;&otilde;es de pagamento: N&uacute;mero do cart&atilde;o, titular, vencimento, c&oacute;digo de seguran&ccedil;a, bandeira, n&uacute;mero de parcelas, endere&ccedil;o para cobran&ccedil;a.</span></span></p>
                        </td>
                        <td valign="top" style="color: unset; font-family: Poppins; border-left: none; border-right: 1pt solid black; border-top: none; border-bottom: 1pt solid black; width: 171px;">
                            <p>Compradores</p>
                        </td>
                        <td valign="top" style="color: unset; font-family: Poppins; border-left: none; border-right: 1pt solid black; border-top: none; border-bottom: 1pt solid black; width: 183px;">
                            <p>Formul&aacute;rios de compra na loja virtual</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top" style="color: unset; font-family: Poppins; border-left: 1pt solid black; border-right: 1pt solid black; border-top: none; border-bottom: 1pt solid black; width: 247px;">
                            <p>Informa&ccedil;&otilde;es t&eacute;cnicas, como endere&ccedil;o de IP, dados de localiza&ccedil;&atilde;o, informa&ccedil;&otilde;es sobre cookies.</p>
                        </td>
                        <td valign="top" style="color: unset; font-family: Poppins; border-left: none; border-right: 1pt solid black; border-top: none; border-bottom: 1pt solid black; width: 171px;">
                            <p>Usu&aacute;rios da Loja Virtual</p>
                        </td>
                        <td valign="top" style="color: unset; font-family: Poppins; border-left: none; border-right: 1pt solid black; border-top: none; border-bottom: 1pt solid black; width: 183px;">
                            <p>Cookies, API de terceiros</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p><b>Informa&ccedil;&otilde;es de Navega&ccedil;&atilde;o e Utiliza&ccedil;&atilde;o da Loja Virtual:</b>&nbsp;Al&eacute;m disso, podemos coletar outras informa&ccedil;&otilde;es quando voc&ecirc; navega na loja virtual, tais como funcionalidades acessadas e tempo de perman&ecirc;ncia.</p>
            <p><b>2. Qual a finalidade do processamento de dados pessoais?</b></p>
            <p>Os dados pessoais coletados podem ser tratados, sempre nos limites do permitido pela legisla&ccedil;&atilde;o aplic&aacute;veis, para as seguintes finalidades:</p>
            <ul>
                <li>Garantir a execu&ccedil;&atilde;o do contrato de presta&ccedil;&atilde;o de servi&ccedil;os firmado com o Cliente Final;</li>
                <li>Permitir que a Prados Turismo fa&ccedil;a verifica&ccedil;&otilde;es e pesquisas com o intuito de melhorar a qualidade dos produtos e servi&ccedil;os prestados em harmonia com os interesses leg&iacute;timos da Prados Turismo;</li>
                <li>Enviar comunica&ccedil;&otilde;es comerciais e/ou promocionais acerca de produtos e servi&ccedil;os da Prados Turismo, bem como fazer estudos de mercado (&ldquo;Marketing&rdquo;);</li>
                <li>Examinar sua solicita&ccedil;&atilde;o e enviar a proposta comercial solicitada;</li>
                <li>Verificar sua identidade;</li>
                <li>Responder a eventuais pedidos de informa&ccedil;&otilde;es adicionais</li>
                <li>Cumprir obriga&ccedil;&otilde;es contratuais, legais ou regulat&oacute;rias em rela&ccedil;&atilde;o a entidades terceiras p&uacute;blicas ou privadas;</li>
                <li>Comunicar-se com o Cliente por telefone, email ou aplicativos de mensagens instant&acirc;neas quanto diretamente solicitado pelo usu&aacute;rio;</li>
                <li>Melhorar a experi&ecirc;ncia do Usu&aacute;rio nos canais digitais (lojas virtuais) da Prados Turismo.</li>
            </ul>
            <p>Atente que a utiliza&ccedil;&atilde;o da nossa loja virtual somente dever&aacute; ser efetivada se voc&ecirc; consentir de forma direta, expressa e inequ&iacute;voca com as suas finalidades de utiliza&ccedil;&atilde;o e com as nossas pol&iacute;ticas de privacidade e sigilo.</p>
            <h2><b>3. Como os dados s&atilde;o coletados/processados?</b>&nbsp;</h2>
            <p>Para as finalidades descritas na se&ccedil;&atilde;o acima, os dados pessoais ser&atilde;o processados exclusivamente de acordo com os termos descritos nesta Pol&iacute;tica de Privacidade e de acordo com os princ&iacute;pios de transpar&ecirc;ncia, necessidade e legalidade, al&eacute;m dos demais previstos na Lei Geral de Prote&ccedil;&atilde;o de Dados (Lei Federal 13.709/2018).</p>
            <p>Os dados pessoais podem ser processados de forma impressa ou em formato eletr&ocirc;nico autom&aacute;tico e atrav&eacute;s de correios, e-mail, telefone, fax e qualquer outro canal eletr&ocirc;nico. S&atilde;o adotadas as medidas de seguran&ccedil;a adequadas para evitar qualquer perda, uso injusto ou ilegal ou acesso n&atilde;o autorizado aos dados.</p>
            <p>A Prados Turismo se responsabiliza pela ado&ccedil;&atilde;o e manuten&ccedil;&atilde;o de medidas razo&aacute;veis de seguran&ccedil;a, t&eacute;cnicas e administrativas para preven&ccedil;&atilde;o de tratamento irregular ou il&iacute;cito dos dados pessoais dos Clientes, inclusive hip&oacute;teses n&atilde;o autorizadas de acesso, destrui&ccedil;&atilde;o, perda, altera&ccedil;&atilde;o ou comunica&ccedil;&atilde;o dos dados.</p>
            <p>Al&eacute;m disso, a Prados Turismo exige que seus operadores de dados &nbsp;atualizem e testem, conforme as boas pr&aacute;ticas, seus sistemas de seguran&ccedil;a com a finalidade de proteger seus dados pessoais.</p>
            <p>No entanto, embora trabalhemos com boas pr&aacute;ticas de prote&ccedil;&atilde;o e seguran&ccedil;a, nenhum servi&ccedil;o web possui 100% de garantia contra invas&otilde;es e n&atilde;o podemos nos responsabilizar caso isso ocorra.</p>
            <h2><b>4. Com quem os dados podem ser compartilhados?</b></h2>
            <p><b>Para Usu&aacute;rios da Loja Virtual</b></p>
            <p>A Prados Turismo n&atilde;o divulgar&aacute; nenhum dado pessoal que identifique diretamente o Usu&aacute;rio, sem seu consentimento pr&eacute;vio, exceto nos casos em que a divulga&ccedil;&atilde;o seja necess&aacute;ria para o cumprimento de obriga&ccedil;&otilde;es legais e contratuais, por ordem de autoridades judicial ou administrativa, para exercer um direito legal ou com o intuito de atingir uma das finalidades indicadas nesta Pol&iacute;tica de Privacidade.</p>
            <p>Os dados pessoais podem ser processados por terceiros que operem em nome e por conta da Prados Turismo (&ldquo;Operadores&rdquo;), em virtude de obriga&ccedil;&otilde;es contratuais espec&iacute;ficas e com o intuito de cumprir uma ou mais finalidades, conforme indicado na se&ccedil;&atilde;o espec&iacute;fica.</p>
            <p><b>Para Compradores</b></p>
            <p>A Prados Turismo poder&aacute; compartilhar seus dados pessoais com terceiros ou parceiros de neg&oacute;cios, que sejam relevantes para fins de viabilizar a presta&ccedil;&atilde;o dos servi&ccedil;os contratadas. O referido compartilhamento ocorre com base nos seguintes crit&eacute;rios e para as finalidades descritas abaixo.</p>
            <ul>
                <li><b>Prestadores de servi&ccedil;os:</b>&nbsp;essas empresas trabalham com a Prados Turismo para viabilizar ou aprimorar o cumprimento das finalidades listadas no cap&iacute;tulo anterior (&ldquo;Para quais finalidades coletamos seus dados?&rdquo;). S&atilde;o exemplos os servi&ccedil;os de (i) desenvolvimento ou melhorias nos canais digitais, e (ii) cria&ccedil;&atilde;o/gest&atilde;o de a&ccedil;&otilde;es de marketing para a Prados Turismo relacionadas direta ou indiretamente aos canais digitais, produtos e servi&ccedil;os da Prados Turismo.</li>
            </ul>
            <p>Esses fornecedores recebem suas informa&ccedil;&otilde;es com a finalidade espec&iacute;fica de prestar servi&ccedil;os &agrave; Prados Turismo e n&atilde;o possuem quaisquer direitos de uso de suas informa&ccedil;&otilde;es fora dessa hip&oacute;tese.</p>
            <p>Algumas das aplica&ccedil;&otilde;es prestadoras de servi&ccedil;o que poder&atilde;o receber seus dados s&atilde;o: Paytour, <span style="color: red;">[listagem de empresas que poder&atilde;o receber, como operadoras, o acesso aos dados dos clientes].</span></p>
            <ul>
                <li><b>Institui&ccedil;&otilde;es Financeiras:&nbsp;</b>A Prados Turismo compartilhar&aacute; seus dados pessoais com as institui&ccedil;&otilde;es financeiras parceiras para fins de processamento e pagamento das transa&ccedil;&otilde;es efetuadas.</li>
                <li><b>Requisi&ccedil;&atilde;o Judicial:</b>&nbsp;A Prados Turismo pode compartilhar dados pessoais em caso de requisi&ccedil;&atilde;o judicial ou mediante determina&ccedil;&atilde;o de autoridade competente, nos termos da lei.</li>
                <li><b>Bancos de dados dos demais canais digitais da Prados Turismo</b>: ao solicitar uma proposta comercial em uma loja virtual de uma das marcas da Prados Turismo, seus dados integrar&atilde;o a base de dados dos canais digitais das demais marcas da empresa. Assim, voc&ecirc; poder&aacute; passar a receber comunica&ccedil;&otilde;es de marketing dos produtos e servi&ccedil;os identificados pelas demais marcas da Prados Turismo.</li>
            </ul>
            <p>A Paytour, empresa fornecedora da solu&ccedil;&atilde;o Paytour para a lojista Prados Turismo, &eacute; mera operadora dos dados, fornecendo apenas a licen&ccedil;a de uso da sua plataforma e-commerce para a Prados Turismo.</p>
            <p>Entretanto a Paytour, operadora de dados da Prados Turismo, poder&aacute; utilizar instru&ccedil;&otilde;es eletr&ocirc;nicas, conhecidas como &ldquo;cookies&rdquo; que ser&atilde;o enviadas ao browser e armazenadas no disco do seu computador. A finalidade dos cookies &eacute; verificar quem s&atilde;o os usu&aacute;rios da loja virtual da Prados Turismo, para, eventualmente, facilitar sua navega&ccedil;&atilde;o com as caracter&iacute;sticas, prefer&ecirc;ncias e qualidade das informa&ccedil;&otilde;es veiculadas por seus cadastrados.&nbsp;</p>
            <p>Veja abaixo os tipos de cookies que poder&atilde;o ser utilizados:</p>
            <table width="600">
                <tbody>
                    <tr>
                        <td valign="top">
                            <p><b>Cookies de terceiros</b></p>
                        </td>
                        <td valign="top">
                            <p>Podem ser inseridos pelo controlador dos dados para que ferramentas parceiras acessem as informa&ccedil;&otilde;es. Ex.: Facebook Pixel, Youtube, Google Analytics, etc.</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p><b>Cookies de sess&atilde;o</b></p>
                        </td>
                        <td valign="top">
                            <p>Podem ser usados para persistir o login dos Usu&aacute;rios da Loja Virtual, rastreando sua atividade dentro da ferramenta Paytour</p>
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <p><b>Cookies para registro de UTM</b></p>
                        </td>
                        <td valign="top">
                            <p>Podem ser usados para envio dos dados de UTM nas convers&otilde;es dos canais.</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p>A maioria dos navegadores de internet permite algum tipo de controle de cookies por meio das configura&ccedil;&otilde;es pessoais, em &ldquo;Gerenciar cookies&rdquo;. Para saber mais sobre os cookies e como eles s&atilde;o armazenados, voc&ecirc; pode visitar a p&aacute;gina Techtudo [<a href="https://www.techtudo.com.br/noticias/2018/10/o-que-sao-cookies-entenda-os-dados-que-os-sites-guardam-sobre-voce.ghtml" target="_blank"><span style="color: rgb(17, 85, 204);">https://www.techtudo.com.br/noticias/2018/10/o-que-sao-cookies-entenda-os-dados-que-os-sites-guardam-sobre-voce.ghtml</span></a>].</p>
            <h2><b>5. Quais os direitos do titular dos dados?</b></h2>
            <p>A Prados Turismo garante o cumprimento &agrave; Lei Federal n. 13.709/2018 (Lei Geral de Prote&ccedil;&atilde;o de Dados &ndash; LGPD), assegurando o cumprimento aos princ&iacute;pios e fundamentos legais no tratamento de dados e a garantia dos direitos aos seus titulares.</p>
            <p>Os seguintes direitos do titular de dados pessoais poder&atilde;o ser exercidos a qualquer momento, em conformidade com a legisla&ccedil;&atilde;o aplic&aacute;vel, pelos Clientes mediante solicita&ccedil;&atilde;o:</p>
            <ul>
                <li>Confirma&ccedil;&atilde;o da exist&ecirc;ncia de tratamento dos dados pessoais;</li>
                <li>Acesso aos dados pessoais;</li>
                <li>Corre&ccedil;&atilde;o de dados pessoais incompletos, inexatos ou desatualizados;</li>
                <li>Anonimiza&ccedil;&atilde;o, bloqueio ou elimina&ccedil;&atilde;o de dados desnecess&aacute;rios, excessivos ou tratados em desconformidade com o disposto na LGPD;</li>
                <li>Portabilidade dos dados pessoais para outro fornecedor de um servi&ccedil;o ou produto, sujeito &agrave; regulamenta&ccedil;&atilde;o da autoridade nacional;</li>
                <li>Apagamento ou anonimiza&ccedil;&atilde;o dos dados pessoais tratados com base no seu consentimento, exceto quando a lei autorizar a manuten&ccedil;&atilde;o destes dados por outro fundamento;</li>
                <li>Informa&ccedil;&otilde;es sobre as entidades p&uacute;blicas e privadas com as quais a Prados Turismo tenha realizado o uso compartilhado dos seus dados pessoais;</li>
                <li>Informa&ccedil;&otilde;es sobre a possibilidade de n&atilde;o dar consentimento ao tratamento dos seus dados pessoais e sobre as consequ&ecirc;ncias de tal a&ccedil;&atilde;o; e</li>
                <li>Revoga&ccedil;&atilde;o do seu consentimento, quando o tratamento tenha sido feito com base no consentimento do titular.</li>
            </ul>
            <p>Os dados pessoais ser&atilde;o tratados pelo per&iacute;odo considerado necess&aacute;rio para cumprir a finalidade para o qual foram coletados e a fim de proteger os interesses da Prados Turismo em rela&ccedil;&atilde;o a potenciais responsabilidades relacionadas.</p>
            <p>O consentimento eventualmente fornecido por voc&ecirc; para outras atividades n&atilde;o relacionadas com a presta&ccedil;&atilde;o de um servi&ccedil;o espec&iacute;fico solicitado pode ser revogado a qualquer momento. Com a revoga&ccedil;&atilde;o do consentimento, os dados n&atilde;o poder&atilde;o mais ser tratados para as referidas finalidades, embora possam ser ainda tratados para a prote&ccedil;&atilde;o dos interesses da Prados Turismo.</p>
            <h2><b>6. Como posso exercer meus direitos como titular dos dados?</b></h2>
            <p>Em caso de d&uacute;vidas, entre em contato com a empresa por meio do e-mail emannuel_prado&#64;hotmail.com.</p>
            <p>[Acrescentar dados do encarregado, caso haja].</p>
            <p>Para exercer os direitos apresentados na Se&ccedil;&atilde;o &ldquo;QUAIS OS DIREITOS DO TITULAR DOS DADOS&rdquo;, &eacute; necess&aacute;rio enviar um email para o endere&ccedil;o emannuel_prado&#64;hotmail.com com o t&iacute;tulo <b>[LGPD] Nome do titular dos dados</b>, informando, no corpo do email, quais a&ccedil;&otilde;es deseja realizar (confirmar exist&ecirc;ncia de dados, acessar, migrar, editar, anonimizar, excluir, revogar consentimento). &Eacute; necess&aacute;rio tamb&eacute;m comprovar a titularidade dos dados, por meio da remessa de documento oficial com foto.</p>
            <p>A elimina&ccedil;&atilde;o dos dados pessoais somente poder&aacute; ser completa para dados pessoais que n&atilde;o sejam necess&aacute;rios para a Prados Turismo cumprir com obriga&ccedil;&otilde;es legais, contratuais, para prote&ccedil;&atilde;o de seu leg&iacute;timo interesse e nas demais hip&oacute;teses admitidas legalmente.</p>
            <p>A Prados Turismo compartilha seus dados pessoais com terceiros para atingir determinadas finalidades, conforme estabelecido na Se&ccedil;&atilde;o &ldquo;COM QUEM OS DADOS S&Atilde;O COMPARTILHADOS?&rdquo; desta Pol&iacute;tica. Caso esses terceiros utilizem os seus dados pessoais para outras finalidades al&eacute;m das finalidades definidas na referida Se&ccedil;&atilde;o e acordadas com a Prados Turismo, eles se tornar&atilde;o controladores independentes em rela&ccedil;&atilde;o aos tratamentos dos dados pessoais para as finalidades alheias &agrave; Pol&iacute;tica e ser&atilde;o exclusivamente respons&aacute;veis por tais tratamentos.</p>
            <h2><b>Sobre atualiza&ccedil;&otilde;es na pol&iacute;tica de privacidade</b></h2>
            <p>A presente pol&iacute;tica de privacidade poder&aacute; ser atualizada periodicamente, sendo as altera&ccedil;&otilde;es consideradas como de aplica&ccedil;&atilde;o e vig&ecirc;ncia imediata, exceto em caso de comunica&ccedil;&atilde;o em contr&aacute;rio enviada pela Prados Turismo.</p>
            <p>A Prados Turismo tomar&aacute; medidas razo&aacute;veis para comunicar os Clientes acerca das atualiza&ccedil;&otilde;es nos termos desta pol&iacute;tica. Tamb&eacute;m recomendamos visitar periodicamente esta p&aacute;gina para que voc&ecirc; tenha conhecimento sobre as modifica&ccedil;&otilde;es. Qualquer d&uacute;vida em rela&ccedil;&atilde;o &agrave; nossa pol&iacute;tica de privacidade pode ser esclarecida entrando em contato conosco atrav&eacute;s do e-mail emannuel_prado&#64;hotmail.com<b>.</b></p>
        </article>
    </div>
</main>