
<app-banner></app-banner>
<app-features></app-features>


<section class="home__pacotes my-5">
    <div class="container">
        <div class="home__title display-6">Nossos Pacotes</div>
        
        <app-pacotes-filter (formEmit)="getFilter($event)"></app-pacotes-filter>

        <div class="row">
            @if (excursoes().length > 0) {
                @for (item of excursoes(); track $index) {
                    <div class="col-md-4">
                        <app-excursao-card
                            [id]="item.id"
                            [thumbnail]="hasUrl(item.Pacotes.Imagem)"
                            [title]="item.nome"
                            [duration]="item"
                            [category]="item.Pacotes.origem"
                            [resume]="item.observacoes"
                            [price]="item.valor">
                        </app-excursao-card>
                    </div>
                }
            } @else {
                <p class="text-center">Nenhuma excursão encontrada.</p>
            }
        </div>

        <div class="d-flex justify-content-center align-items-center mt-4">
            <button class="btn btn-outline-primary" routerLink="/pacotes">Visualizar pacotes</button>
        </div>
    </div>
</section>