<app-features></app-features>

<section class="home__pacotes my-5">
    <div class="container">
        <div class="home__title display-6">
            <span>
                <i class="fa-solid fa-suitcase-rolling me-2"></i>Pacotes disponíveis
            </span>
        </div>
        
            <app-pacotes-filter (origemEmit)="getOrigem($event)"></app-pacotes-filter>

            @if (excursoes().length > 0) {
                <div class="home__excursoes">
                    @for (item of excursoes(); track $index) {
                        <div class="home__excursao">
                            <app-excursao-card
                                [id]="item.id"
                                [thumbnail]="hasUrl(item.Pacotes.Imagem)"
                                [title]="item.nome"
                                [duration]="item"
                                [origem]="item.Pacotes.origem"
                                [transport]="item.Pacotes.tipoTransporte"
                                [price]="item.valor">
                            </app-excursao-card>
                        </div>
                    }
                </div>
            } @else {
                <p class="text-center display-6 fs-5 mt-4">Nenhuma excursão encontrada.</p>
            }
    </div>
</section>

<app-banner></app-banner>