<app-banner-cabecalho
  titulo="Documentos de Viagem"
  background="assets/images/documentos-viagem.webp"
  [desfoque]="true"
/>

<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2
          class="my-4 fs-2 text-center d-flex flex-column align-items-center justify-content-center"
        >
          Documentos necessários para viagens <br />
          com a Prados Turismo
          <hr class="w-50 mt-4" />
        </h2>
        <!-- <hr /> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <article class="fs-5 display-6">
          <p>
            Seja em viagens terrestres ou aéreas,
            <strong>dentro do Brasil ou para destinos internacionais</strong>, é
            fundamental estar com os documentos corretos. Confira as
            orientações:
          </p>
          <h4 class="fs-5 display-6 mt-4">
            <strong>Para viagens nacionais (dentro do Brasil):</strong>
          </h4>
          <p>
            Para viagens aéreas ou terrestres dentro do Brasil, é obrigatório
            apresentar um documento original com foto, seja físico ou digital,
            válido e emitido há menos de 10 anos. Exemplos de documentos
            aceitos: RG, passaporte, e-Título, CNH e carteira de trabalho
            (modelo com foto).
          </p>
          <h4 class="fs-5 display-6 mt-4">
            <strong>Para viagens internacionais:</strong>
          </h4>
          <p>
            Para destinos internacionais, é essencial verificar com antecedência
            os documentos exigidos pelo país de destino. Alguns países têm
            regras específicas e podem exigir visto ou autorização de entrada. A
            responsabilidade pela obtenção dessas informações e documentos é do
            viajante.
          </p>
          <h4 class="fs-5 display-6 mt-4">
            <strong>Menores de Idade</strong>
          </h4>

          <ul>
            <li>
              <p>
                Para viagens nacionais, menores devem estar acompanhados dos
                pais ou responsáveis legais. Caso contrário, é necessário
                apresentar uma autorização por escrito com firma reconhecida em
                cartório, além de um documento oficial com foto (como certidão
                de nascimento, no caso de bebês).
              </p>
            </li>
            <li>
              <p>
                Em viagens internacionais, as regras são semelhantes, com uma
                atenção especial: se o menor for viajar acompanhado apenas de um
                dos responsáveis, será obrigatória a apresentação de uma
                autorização registrada em cartório emitida pelo outro
                responsável, permitindo a viagem do menor.
              </p>
            </li>
          </ul>
          <h3
            class="mt-5 mb-4 fs-2 text-center d-flex flex-column align-items-center justify-content-center"
          >
            Exigências por país:
            <hr class="w-100 mt-4" />
          </h3>
          <h4 class="fs-5 display-6 mt-4">
            <strong>Brasil</strong>
          </h4>
          <p>
            RG, Passaporte, CNH, E-título ou Carteira de Trabalho com foto
            (físico ou digital).
          </p>
          <p>Documento válido e com menos de 10 anos de emissão.</p>
          <h4 class="fs-5 display-6 mt-4">
            <strong>Argentina</strong>
          </h4>
          <p>
            Brasileiros devem apresentar RG (em bom estado e com menos de 10
            anos) ou passaporte.
          </p>
          <p>
            Importante: Em viagens para Puerto Iguazú, a CNH física e válida
            também é aceita.
          </p>
          <p>Documentos digitais não são aceitos.</p>
          <h4 class="fs-5 display-6 mt-4">
            <strong>Paraguai</strong>
          </h4>
          <p>
            Brasileiros devem apresentar RG ou passaporte. Ambos devem ser
            apresentados na versão física.
          </p>
          <p>
            Para visitas rápidas à Ciudad del Este (região de compras próxima à
            fronteira com Foz do Iguaçu), não é necessário registro na
            alfândega.
          </p>
          <p>
            Para compras com descontos especiais, é obrigatória a apresentação
            de RG ou passaporte para cadastro local.
          </p>
          <h4 class="fs-5 display-6 mt-4">
            <strong>Chile</strong>
          </h4>
          <p>
            RG (com menos de 10 anos e em bom estado) ou Passaporte. Ambos devem
            ser apresentados na versão física.
          </p>
          <p>
            É importante que os documentos estejam em bom estado de conservação,
            com os dados visíveis.
          </p>
          <p>
            Para viagens internacionais, o passaporte, ele deve ter validade
            mínima de seis meses a partir da data de entrada no pais de destino.
          </p>
          <hr class="w-100 my-4" />
          <p>
            O voucher da Prados, enviado para o e-mail cadastrado no momento da
            compra, deve ser apresentado a um representante da Prados no
            embarque. Já os demais documentos (como RG, passaporte, etc.) são
            obrigatórios para apresentação às autoridades brasileiras ou do país
            de destino.
          </p>
          <p>
            Para dúvidas, entre em contato conosco. WhatsApp: +55 85 9746-0786
          </p>
          <p>
            Estamos à disposição para te ajudar a ter uma viagem tranquila e
            segura!
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
