<main id="excursao-loaded">
  <div class="container">
    <div class="d-flex mb-3">
      <button type="button" class="btn btn-secondary me-3">
        <i class="fa-solid fa-arrow-left-long me-2"></i>Voltar
      </button>
      <div class="spacer"></div>
      <button type="button" class="btn btn-primary">
        <i class="fa-solid fa-share me-2"></i>Compartilhar
      </button>
    </div>

    <div class="d-flex">
      <div class="event__main">
        <div class="row">
          <div class="col-md-12">
            <span class="display-6">{{ excursao()?.nome }}</span>
            <span class="event__price">
              {{ excursao()?.valor | currency : "BRL" : true : "1.2-2" }}
            </span>
            <p [innerText]="excursao()?.observacoes"></p>
            <table class="event__table table">
              <tbody>
                <tr>
                  <th scope="row">Destino</th>
                  <td>{{ excursao()?.Pacotes?.nome }}</td>
                </tr>
                <tr>
                  <th scope="row">Partida</th>
                  <td id="event-departure">
                    Tolerancia de 10 minutos a partir do horario escolhido
                  </td>
                </tr>
                <tr>
                  <th scope="row">Incluso</th>
                  <td class="event__inclusos">
                    <ul class="d-flex flex-wrap">
                      @for (item of inclusos(); track $index) {
                        <li>
                          <i class="fa-solid fa-check text-success me-3"></i>{{ item.nome }}
                        </li>
                      }
                    </ul>
                  </td>
                </tr>
                <tr>
                  <th scope="row">Não incluso</th>
                  <td>
                    <ul class="d-flex flex-wrap">
                      @if (noOpcionais()) {
                        <li>---</li>
                      }
                      @for (item of opcionais(); track $index) {
                        <li>
                          <i class="fa-solid fa-xmark text-danger me-3"></i>{{ item.nome }}
                        </li>
                      }
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        @if (excursao()?.Pacotes?.Galeria?.length) {
        <div class="row">
          <div class="display-6">Nossa galeria</div>
          <div [innerHTML]="excursao()?.Pacotes?.descricao" class="my-3"></div>
          <ul class="event__gallery">
            @for (item of excursao()?.Pacotes?.Galeria; track $index) {
            <li
              class="event__item"
              style="background-image: url({{ item.url }});"
              (click)="
                open(formatGallery(excursao()?.Pacotes?.Galeria!), $index)
              "
            >
              <a
                href="Javascript:;"
                data-lightbox="roadtrip"
                data-title="{{ item.nome }}"
              ></a>
            </li>
            }
          </ul>
        </div>
        }
      </div>
      <div class="event__sidebar">
        <app-pacotes-sidebar
          [form]="form"
          [excursao]="excursao()"
        ></app-pacotes-sidebar>
      </div>
    </div>
  </div>
</main>
