<main id="excursao-loaded" class="pacotes__single mt-80">
  <section>
    <div
      style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
      class="swiper mySwiper2"
    >
      <div class="swiper-wrapper">
        @for (item of excursao()?.Pacotes?.Galeria; track $index) {
        <div class="swiper-slide">
          <img [src]="item.url" [title]="item.nome" />
        </div>
        }
      </div>
      <div class="container">
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </section>

  <div class="my-5 container">
    <div class="d-flex flex-column-reverse flex-sm-row">
      <div class="event__main">
        <div class="row">
          <div class="col-md-12">
            <h2 class="event__title">{{ excursao()?.nome }}</h2>
            @if (inclusos()?.length) {
            <div class="event__includes">
              <h3>O que está incluso?</h3>
              <ul>
                @for (item of inclusos(); track $index) {
                <li>
                  <i class="fa-solid fa-check text-success me-3"></i
                  >{{ item.nome }}
                </li>
                }
              </ul>
            </div>
            }
            <p [innerHTML]="excursao()?.Pacotes?.descricao"></p>
          </div>
        </div>
      </div>
      <div class="event__sidebar">
        <app-pacotes-sidebar [form]="form" [excursao]="excursao()" />
      </div>
    </div>
  </div>
</main>
