<main id="excursao-loaded" class="mt-80">
  <div class="container">
    <div class="d-flex mb-3">
      <button type="button" class="btn btn-secondary me-3">
        <i class="fa-solid fa-arrow-left-long me-2"></i>Voltar
      </button>
      <div class="spacer"></div>
      <button type="button" class="btn btn-primary">
        <i class="fa-solid fa-share me-2"></i>Compartilhar
      </button>
    </div>

    <div class="d-flex">
      <div class="event__main">
        <div class="row">
          <div class="col-md-12">
            <span class="display-6">{{ excursao()?.nome }}</span>
            <span class="event__price">
              {{ excursao()?.valor | currency : "BRL" : true : "1.2-2" }}
            </span>
            <p [innerHTML]="excursao()?.Pacotes?.descricao"></p>
            <table class="event__table table">
              <tbody>
                @if (inclusos()?.length) {
                  <tr>
                    <th scope="row">Incluso</th>
                    <td class="event__inclusos">
                      <ul class="d-flex flex-wrap">
                        @for (item of inclusos(); track $index) {
                          <li>
                            <i class="fa-solid fa-check text-success me-3"></i>{{ item.nome }}
                          </li>
                        }
                      </ul>
                    </td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
        @if (excursao()?.Pacotes?.Galeria?.length) {
        <div class="row">
          <div class="display-6 mb-3">Nossa galeria</div>
          <ul class="event__gallery">
            @for (item of excursao()?.Pacotes?.Galeria; track $index) {
            <li
              class="event__item"
              style="background-image: url({{ item.url }});"
              (click)="
                open(formatGallery(excursao()?.Pacotes?.Galeria!), $index)
              "
            >
              <a
                href="Javascript:;"
                data-lightbox="roadtrip"
                data-title="{{ item.nome }}"
              ></a>
            </li>
            }
          </ul>
        </div>
        }
      </div>
      <div class="event__sidebar">
        <app-pacotes-sidebar
          [form]="form"
          [excursao]="excursao()"
        ></app-pacotes-sidebar>
      </div>
    </div>
  </div>
</main>
