<main class="my-account">
  <div class="container">
    <div class="d-flex">
      <ul class="dashboard__menu">
        @for (item of menu; track $index) {
        <li class="dashboard__item">
          <a
            [routerLink]="[item.route]"
            routerLinkActive="dashboard--activated"
            [routerLinkActiveOptions]="{ exact: true }"
            >{{ item.label }}</a
          >
        </li>
        }
        <li class="dashboard__item">
          <a type="button" (click)="logout()">Sair</a>
        </li>
      </ul>
      <div class="login__box w-75">
        <div class="my-account__panel">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</main>
