$component-name: 'banner';

.#{$component-name} {
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-block-start: 40px;
    }
    
    &__item {
        margin-inline-end: 50px;
        flex: 0 0 calc(33.333% - 33.4px);
        margin-block-end: 50px;
        height: 350px;
        &:last-child {
            flex: 0 0 100%;
            margin-inline-end: 0;
        }
        &:nth-child(3n) {
            margin-inline-end: 0;
        }
    }

    &__image {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .cycle-pager {
        position: absolute;
        bottom: 10px;
        z-index: 99999;
        display: flex;
        gap: 10px;
        right: 10px;
        &-active {
            background-color: var(--color-primary) !important;
            color: var(--color-secondary) !important;
        }
        span {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, .5);
            color: #fff;
            cursor: pointer;
            &:hover {
                @extend .cycle-pager-active;
                opacity: .5;
            }
        }
    }
}