$component-name: 'banner';

.#{$component-name} {
    height: 600px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;

    &__image {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .cycle-pager {
        position: absolute;
        bottom: 10px;
        z-index: 99999;
        display: flex;
        gap: 10px;
        right: 10px;
        &-active {
            background-color: var(--color-primary) !important;
            color: var(--color-secondary) !important;
        }
        span {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 0, 0, .5);
            color: #fff;
            cursor: pointer;
            &:hover {
                @extend .cycle-pager-active;
                opacity: .5;
            }
        }
    }
}