@import '../abstract/breakpoint';

$component-name: 'card-event';

.#{$component-name} {
    border: 1px solid #ccc;
    border-radius: 30px;
    width: 100%;
    overflow: hidden;
    cursor: pointer;

    &__content {
        width: 100%;
        height: 410px;
        overflow: hidden;
        text-align: center;
    }

    &__thumbnail {
        width: 100%;
        border-radius: 29px;
        height: 250px;
        background-color: #ccc;
        margin-block-end: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: .3s ease;
        cursor: pointer;
        &:hover {
            &::before {
                content: '';
                width: 100%;
                height: 100%;
                background-color: rgba($color: #000000, $alpha: .4);
                position: absolute;
            }
            .#{$component-name}__date {
                color: var(--color-secondary);
                background-color: var(--color-light);
            }
        }
    }

    &__category {
        padding-block: 5px;
        padding-inline: 20px;
        border-radius: 20px;
        color: #fff;
        background-color: #9e9e9e;
    }

    &__title {
        font-size: 1.5rem !important;
        font-weight: 400 !important;
        margin-inline: 20px !important;
        margin-block-end: 0 !important;
    }

    &__actions {
        display: flex;
        flex-direction: column;
        line-height: 1.3;
        font-size: 20px;
        font-weight: 300;
        padding-inline: 20px;
    }

    &__price {
        font-size: 2.3rem;
        font-weight: 500;
    }

    &__cart {
        width: 80px;
        height: 45px;
        padding: 10px;
        background: none;
        border: none;
        transition: .3s ease;
        text-align: center;
        color: var(--color-secondary);
        &:hover {
            background-color: var(--color-secondary);
            color: var(--color-light);
        }
    }
    
    &__date {
        background-color: var(--color-primary);
        padding: 10px 30px;
        border-radius: 15px;
        color: var(--color-light);
        transition: .3s ease;
        margin-block: 20px;
        display: inline-block;
    }

    &__feature {
        position: absolute;
        bottom: -15px;
        display: flex;
        gap: 30px;
        @include breakpoint(small-only) {
            padding-inline: 10px
        }
    }

    &__transport {
        @extend .#{$component-name}__category;
        background-color: var(--color, #9e9e9e);
    }
}