@import "../abstract/breakpoint";

$component-name: "card-event";

.#{$component-name} {
  border: 1px solid #ccc;
  width: 100%;
  height: 370px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left top;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  &--featured {
    box-shadow: none;
    border: none;
    border-radius: 50px;
    height: 450px;
    .#{$component-name}__date {
      border: none;
      margin: 0;
    }
    .#{$component-name}__content {
      padding: 20px;
      height: 450px;
    }
    .#{$component-name}__feature {
      align-items: flex-start;
    }
    .#{$component-name}__transport {
      display: flex;
      word-break: break-word;
      width: 120px;
      text-align: right;
      text-transform: none;
      line-height: 1;
      font-size: 1.8rem;
      font-weight: 600;
      background: none;
      padding: 0;
      color: var(--color-primary);
      position: relative;
      @include breakpoint(medium-only) {
        font-size: 1.5rem;
      }
      img {
        position: absolute;
        top: 30px;
        right: 120px;
        width: 75%;
        @include breakpoint(medium-only) {
          top: 55px;
          right: 0;
          width: 40%;
        }
      }
    }
    .#{$component-name}__title,
    .#{$component-name}__actions {
      text-align: center;
    }
    .#{$component-name}__title {
      margin-block: 40px;
    }
    .#{$component-name}__actions {
      align-items: center;
      span:last-child {
        margin-block-start: 20px;
        background-color: var(--color-primary);
        border-radius: 50px;
        padding-inline: 20px;
      }
    }
    .#{$component-name}__price {
      background-color: #ffffff;
      color: var(--color-primary);
      border-radius: 15px;
      padding: 5px 20px;
    }
    .#{$component-name}__lombada {
      top: -200px;
      right: 20px;
      width: 210px;
      height: 450px;
      transform: rotate(-58deg);
      @include breakpoint(medium-only) {
        top: -240px;
        right: 0;
      }
      path {
        fill: #ffffff;
      }
    }
  }

  &:hover {
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
      0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    transform: translateY(-5px);
  }

  &--no-shadow {
    box-shadow: none !important;
    margin: 0 !important;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.05)
    );
  }
  &__lombada {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 370px;
    path {
      fill: var(--color-primary);
    }
  }

  &__content {
    width: 100%;
    height: 370px;
    position: absolute;
    z-index: 9;
    overflow: hidden;
    text-align: center;
    padding: 30px;
    display: flex;
    flex-direction: column;
    @include breakpoint(medium-only) {
      padding: 15px;
    }
  }

  &__thumbnail {
    width: 100%;
    border-radius: 29px;
    height: 200px;
    background-color: #ccc;
    margin-block-end: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s ease;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.4);
        position: absolute;
      }
      .#{$component-name}__date {
        color: var(--color-secondary);
        background-color: var(--color-light);
      }
    }
  }

  &__category {
    padding-block: 7px;
    padding-inline: 20px;
    border-radius: 20px;
    background-color: #9e9e9e;
    text-transform: capitalize;
  }

  &__title {
    font-size: 2rem !important;
    font-weight: 600 !important;
    margin-inline: 20px;
    margin-block-end: 0;
    text-transform: capitalize;
    text-align: start;
    line-height: normal !important;
    @include breakpoint(medium-only) {
      text-align: start;
      margin-block-start: 60px !important;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    line-height: normal;
    font-size: 20px;
    font-weight: 300;
    text-align: start;
  }

  &__price {
    font-size: 2.3rem;
    strong {
      font-weight: 600;
    }
  }

  &__cart {
    width: 80px;
    height: 45px;
    padding: 10px;
    background: none;
    border: none;
    transition: 0.3s ease;
    text-align: center;
    color: var(--color-secondary);
    &:hover {
      background-color: var(--color-secondary);
      color: var(--color-light);
    }
  }

  &__date {
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid;
    font-size: 1.2rem;
    color: var(--color-light);
    transition: 0.3s ease;
    margin-block: 20px;
    display: inline-block;
    @include breakpoint(medium-only) {
      margin-block: 0;
    }
  }

  &__feature {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
  }

  &__transport {
    @extend .#{$component-name}__category;
    background-color: var(--color, #9e9e9e);
  }
}
