@import "../abstract/breakpoint";

$component-name: "footer";

.#{$component-name} {
  background: linear-gradient(
    0deg,
    rgba(22, 23, 36, 1) 0%,
    rgba(19, 48, 70, 1) 100%
  );
  &__informations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 150px;
    padding-block: 3rem;
    @include breakpoint(medium-only) {
      flex-direction: column;
      align-items: center;
      padding-inline: 30px;
      padding-block: 20px;
      gap: 30px;
    }
  }

  &__logo {
    height: 100%;
    margin: 0;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(medium-only) {
      width: 40%;
      margin: auto;
      margin-block-end: 20px;
    }
  }

  &__title {
    color: var(--color-primary);
    font-size: 1rem;
    @include breakpoint(medium-only) {
      text-align: center;
    }
  }

  &__content {
    color: var(--color-light);
    @include breakpoint(medium-only) {
      text-align: center;
    }
    p {
      margin-bottom: 0;
    }

    a {
      color: var(--color-light);
      transition: 0.5s ease;
      &:hover {
        color: var(--color-primary);
      }
    }
  }

  &__list {
    @extend .#{$component-name}__content;
  }

  &__others {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__social-icons {
    list-style: none;
    display: flex;
    gap: 10px;
    @include breakpoint(medium-only) {
      justify-content: center;
    }
    &--secondary {
      .#{$component-name}__icon {
        background-color: var(--color-secondary);
        a {
          color: var(--color-light);
        }
        &:hover {
          a {
            color: var(--color-secondary);
          }
        }
      }
    }
  }

  &__icon {
    background-color: var(--color-primary);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    color: var(--color-light);
    transition: 0.5s ease;
    &:hover {
      color: var(--color-secondary);
      background-color: var(--color-light);
    }
  }

  &__copyright {
    padding-block: 20px;
    color: var(--color-light);
    // background-color: var(--color-secondary-dark);
    position: relative;
  }
}
