@import '../abstract/breakpoint';

$component-name: "home";

.#{$component-name} {
    &__features {
        background-color: var(--color-secondary-dark);
        padding-block: 50px;
        color: var(--color-primary);
    }
    
    &__list {
        display: flex;
        gap: 50px;
        align-items: center;
        justify-content: center;
        font-size: 1.8rem;
        @include breakpoint(small-only) {
            flex-direction: column;
            text-align: center;
            line-height: 1;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        i {
            font-size: 3rem;
        }
    }

    &__title {
        &:before {
            content: '';
            width: 38%;
            border-top: 1px dashed;
            margin-inline-end: 20px;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-block: 20px !important;
        font-size: 1.75rem !important;
        text-transform: uppercase;
        &:after {
            content: '';
            width: 38%;
            border-top: 1px dashed;
            margin-inline-start: 20px;
        }
    }
}