@import '../abstract/breakpoint';

$component-name: "home";

.#{$component-name} {
    &__features {
        position: relative;
        top: -30px;
    }

    &__box {
        border-radius: 30px;
        padding: 30px;
        font-size: 1.8rem;
        background-color: var(--color-primary);
    }
    
    &__list {
        display: flex;
        gap: 50px;
        align-items: center;
        justify-content: center;
        @include breakpoint(small-only) {
            flex-direction: column;
            text-align: center;
            line-height: 1;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        i {
            font-size: 3rem;
        }
    }

    &__title {
        &:before {
            content: '';
            width: 38%;
            border-top: 1px solid;
            margin-inline-end: 20px;
            margin-block-end: 20px;
        }
        &--no-divider {
            &:before {
                content: '';
                display: none;
            }
        }
        &--light {
            color: var(--color-light);
        }
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-block: 20px !important;
        font-size: 1.75rem !important;
        text-transform: uppercase;
    }

    &__excursoes {
        @extend .#{$component-name}__list;
        font-size: 14px;
        gap: 30px;
        margin-block-start: 70px;
        flex-wrap: wrap;
    }
    &__excursao {
        background-color: #fff !important;
        border-radius: 30px;
        overflow: hidden;
        flex: 0 0 calc(var(--excursao-width, 440px) - 30px);
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
}