@import '../abstract/breakpoint';

$component-name: "home";

.#{$component-name} {
    &__banner {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 700px;
        position: relative;
        &::before {
            content: '';
            background-color: rgba($color: #000000, $alpha: 0.3);
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
        }
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            position: relative;
        }
        &-information {
            color: #fff !important;
            &:not(.#{$component-name}__banner-information--faq) {
                display: flex;
                flex-direction: column;
                align-items: center;
                i {
                    background-color: #28a745;
                    padding: 2px 3px;
                    border-radius: 5px;
                }
            }
        }
    }

    &__features {
        position: relative;
        top: -50px;
        z-index: 9;
    }

    &__box {
        border-radius: 30px;
        padding: 30px;
        font-size: 1.8rem;
        background-color: var(--color-primary);
    }
    
    &__list {
        display: flex;
        gap: 50px;
        align-items: center;
        justify-content: center;
        @include breakpoint(medium-only) {
            flex-direction: column;
            text-align: center;
            line-height: 1;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        i {
            font-size: 3rem;
        }
    }

    &__title {
        &--no-divider {
            &:before {
                content: '';
                display: none;
            }
        }
        &--light {
            color: var(--color-light);
        }
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-block: 20px !important;
        text-transform: uppercase;
    }

    &__excursoes {
        @extend .#{$component-name}__list;
        font-size: 14px;
        gap: 30px;
        margin-block-start: 70px;
        flex-wrap: wrap;
    }
    &__excursao {
        width: 100%;
        border-radius: 30px;
        flex: 0 0 calc(var(--excursao-width, 440px) - 30px);
        &:nth-child(3n) {
            margin-right: 0;
        }
        @include breakpoint(medium-only) {
            flex: 0 0 100%;
        }
    }
}