@import "../abstract/breakpoint";

$component-name: 'login';

.#{$component-name} {
    padding-block: 40px;
    &__box {
        border: 1px solid #d5d8dc;
        border-radius: 3px;
        padding: 30px;
        @include breakpoint(small-only) {
            overflow: scroll;
        }
    }
}