:host {
  padding-block: 10px;
  //   padding-block-end: 20px;
  //   margin-block-end: 20px;
  display: flex;
  flex-direction: column;
  //   border-bottom: 1px solid #ccc;
  .pacotes-price__value {
    font-weight: 600;
    font-size: 2.5rem;
    color: var(--color-primary);
    margin-block: 10px;
    padding-block: 10px;
    span {
      font-size: medium;
    }
  }
}
