<app-banner-cabecalho
  titulo="Formas de Pagamento"
  background="assets/images/formas-pagamento.png"
  [desfoque]="true"
/>
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2
          class="my-4 fs-2 text-center d-flex flex-column align-items-center justify-content-center"
        >
          Formas de Pagamento – Prados Turismo
          <hr class="w-50 mt-4" />
        </h2>
        <!-- <hr /> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <article class="fs-5 display-6">
          <p>
            Aceitamos <strong>cartões de crédito</strong>, com parcelamento em
            até <strong>5 vezes sem juros para pacotes terrestres</strong> e até
            <strong>10 vezes sem juros para pacotes aéreos</strong>. Também
            aceitamos <strong>PIX</strong>, com
            <strong>desconto exclusivo</strong>. O valor com desconto pode ser
            consultado na página de pagamento ou nas informações do pacote.
          </p>
          <h4 class="fs-5 display-6 mt-4">
            <strong>Bandeiras aceitas:</strong>
          </h4>
          <p>
            Visa, Mastercard, American Express, Elo, Hipercard, Diners,
            Discover, Aura e JCB.
          </p>
          <h4 class="fs-5 display-6 mt-4">
            <strong>Pagamentos via PIX:</strong>
          </h4>
          <ul>
            <li>
              <p>
                Geramos um <strong>QR Code</strong> e um código para
                <strong>PIX copia e cola.</strong>
              </p>
            </li>
            <li>
              <p>
                Caso o QR Code ou o PIX copia e cola não apareça, solicite nossa
                <strong>chave PIX (CNPJ)</strong> pelo atendimento.
              </p>
            </li>
            <li>
              <p>
                Para pagar com QR Code, abra a área de PIX no seu aplicativo
                bancário ou carteira digital, selecione “Pagar com QR Code” e
                aponte a câmera do celular para o código.
              </p>
            </li>
            <li>
              <p>
                Para o PIX copia e cola, acesse a opção correspondente no app e
                cole o código fornecido na página de pagamento.
              </p>
            </li>
          </ul>
          <h4 class="fs-5 display-6 mt-4">
            <strong>Pagamentos com Cartão de Crédito:</strong>
          </h4>
          <ul>
            <li>
              <p>
                Preencha corretamente os dados solicitados e verifique se o seu
                cartão está habilitado para compras online antes de confirmar o
                pagamento.
              </p>
            </li>
            <li>
              <p>
                <strong>Atenção:</strong> Se o titular do cartão
                <strong>não for o viajante</strong>, é obrigatório solicitar uma
                <strong>declaração de compra</strong> junto ao nosso
                atendimento. A ausência desse documento pode resultar no
                <strong>cancelamento da reserva</strong>.
              </p>
            </li>
          </ul>
          <h4 class="fs-5 display-6 mt-4">
            <strong>Confirmação da Reserva</strong>
          </h4>
          <p>
            A reserva
            <strong>só será confirmada após o pagamento total do pacote</strong
            >. Não aceitamos pagamento parcial (entrada ou 50%). O pagamento
            pode ser feito diretamente pelo nosso site ou através dos nossos
            canais de atendimento.
          </p>
          <p>
            Se o pagamento no cartão for recusado ou o PIX não for realizado, a
            reserva será <strong>automaticamente cancelada</strong> e a vaga
            ficará novamente disponível no site, podendo ser adquirida por outra
            pessoa a qualquer momento.
          </p>
          <p>
            Caso seu cartão esteja com limite disponível e habilitado para
            compras online, mas o pagamento não seja aprovado, entre em contato
            imediatamente com nossa central de atendimento. Podemos gerar
            <strong>links alternativos</strong> para garantir sua reserva.
          </p>
          <p>
            Para dúvidas, entre em contato conosco. WhatsApp: +55 85 9746-0786
          </p>
          <p>
            Estamos à disposição para te ajudar a ter uma viagem tranquila e
            segura!
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
