$colors: (
  primary: #ed7b1d,
  secondary: #0f3e68,
  primary-dark: #7e3e0a,
  secondary-dark: #112c44,
  light: #f5f5f5,
  text: #333,
  success: #28a745,
  danger: #dc3545,
  warning: #ffc107,
);

:root {
  @each $name, $color in $colors {
    --color-#{$name}: #{$color};
  }
}
