<main class="mt-80">
    <div class="container">
        <div class="display-3">Pacotes</div>
        <hr>

        <app-pacotes-filter (origemEmit)="getOrigem($event)"></app-pacotes-filter>

        @if (loading) {
            <mat-progress-bar class="w-100" mode="indeterminate"></mat-progress-bar>
        } @else {
             @if (excursoes.length > 0) {
                <div class="home__excursoes">
                    @for (item of excursoes; track $index) {
                        <div class="home__excursao">
                            <app-excursao-card
                                [id]="item.id"
                                [thumbnail]="hasUrl(item.Pacotes.Imagem)"
                                [title]="item.nome"
                                [duration]="item"
                                [origem]="item.Pacotes.origem"
                                [transport]="item.Pacotes.tipoTransporte"
                                [price]="item.valor">
                            </app-excursao-card>
                        </div>
                    }
                </div>
            } @else {
                <p class="text-center display-6 fs-5 mt-4">Nenhuma excursão encontrada.</p>
            }
        }
    </div>
</main>