<header class="header">
    <div class="header__topbar">
        <div class="container">
            <div class="header__flex">
                <ul class="header__social-icons">
                    <li class="header__icon">
                        <i class="fa-brands fa-facebook"></i>
                    </li>
                    <li class="header__icon">
                        <i class="fa-brands fa-instagram"></i>
                    </li>
                </ul>
                <div class="spacer"></div>
                <div class="header__account">
                    <i class="fa-regular fa-user me-2"></i> <a href="login">Entre ou Cadastre-se</a>
                </div>
                <div class="header__cart">
                    <div class="header__value">R$ 0,00</div>
                    <div class="header__amount">
                        <i class="fa-solid fa-basket-shopping"></i>
                        <span class="header__badge">0</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__menu">
        <div class="container">
            <div class="header__flex">
                <figure class="header__logo">
                    <img src="assets/images/logo.webp" alt="Logo - Prados Turismo">
                </figure>
                <ul class="header__list">
                    @for (item of menu; track $index) {
                        <li class="header__item" >
                            <a [routerLink]="item.route" routerLinkActive="activated">{{ item.label }}</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</header>