<header id="header" class="header">
  <div class="header__topbar">
    <div class="container">
      <div class="header__flex">
        <figure class="header__logo" routerLink="/">
          <img src="assets/images/logo.webp" alt="Logo - Prados Turismo" />
        </figure>
        <div class="spacer"></div>
        <ul class="header__social-icons">
          <li>
            <a
              href="https://api.whatsapp.com/send/?phone=5585997460786&text&type=phone_number&app_absent=0"
              target="_blank"
            >
              <div class="header__icon me-4">
                <i class="fa-brands fa-whatsapp"></i>
              </div>

              +55 85 9 9746-0786
            </a>
          </li>
        </ul>
        <div class="d-flex align-items-center">
          <div class="header__menu">
            <a routerLink="/faq">
              <i class="fa-solid fa-circle-question me-4"></i> Ajuda
            </a>
          </div>
          <div class="header__account ms-5">
            <a [routerLink]="getLink(client)">
              <i class="fa-regular fa-user" [ngClass]="{ 'me-4': client }"></i>
              @if (client) {
              {{ client.nome }}
              }
            </a>
          </div>
          <div
            class="header__cart ms-3"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasRight"
            aria-controls="offcanvasRight"
          >
            <div class="header__amount">
              <i class="fa-solid fa-basket-shopping"></i>
              <span class="header__badge">{{ totalCarrinho }}</span>
            </div>
          </div>
          <app-meu-carrinho-offcanvas></app-meu-carrinho-offcanvas>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="header__menu">
    <div class="container">
      <div class="header__flex">
        
        <ul class="header__list">
          @for (item of menu(); track $index) {
          <li class="header__item">
            <a
              [routerLink]="item.route"
              routerLinkActive="activated"
              [routerLinkActiveOptions]="{ exact: true }"
              >{{ item.label }}</a
            >
          </li>
          }
        </ul>
      </div>
    </div>
  </div> -->
</header>
