<main class="mt-80">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="display-6">Termos de uso</div>
        <hr />

        <div class="mw-100 border rounded-3">
          <div
            class="overflow-y-scroll p-4 text-start"
            (scroll)="onScroll($event)"
            style="height: 317px"
          >
            <app-termos-uso [isCheckout]="true" />
          </div>
          <div class="d-flex flex-row align-items-center py-2">
            <div
              class="form-check form-switch d-flex mx-3 justify-content-center"
              for="flexSwitchCheckDefault"
            >
              <input
                class="form-check-input"
                type="checkbox"
                [formControl]="terms"
                role="switch"
                id="flexSwitchCheckDefault"
              />
            </div>
            <div class="d-flex flex-column w-100 fs-6">
              Li e aceito os termos de uso
              <span class="text-danger"
                >Use a barra de rolagem para ler os termos até o final</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="display-6">Resumo da compra</div>
        <hr />

        <app-cart-item [shadow]="false" [cart]="cart()" />
      </div>
    </div>

    @if (participantes()) {
    <div class="row">
      <div class="display-6 my-3">Dados dos passageiros</div>

      <div class="accordion" id="accordion">
        @for (item of participantes(); track $index) {
        <div class="accordion-item">
          <div class="accordion-header">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#collapse' + $index"
              aria-expanded="true"
              [attr.aria-controls]="'collapse' + $index"
            >
              <i class="fa-solid fa-ticket me-3"></i> {{ item.nome }}
            </button>
          </div>
          <div
            [id]="'collapse' + $index"
            class="accordion-collapse collapse"
            data-bs-parent="#accordion"
          >
            <div class="accordion-body">
              <table class="event__table event__table--no-last-border table">
                <tbody>
                  <tr>
                    <th scope="row">E-mail</th>
                    <td>{{ item.email }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Telefone</th>
                    <td>{{ item.phone }}</td>
                  </tr>
                  <tr>
                    <th scope="row">RG</th>
                    <td>{{ item.rg }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Órgão emissor</th>
                    <td>{{ item.emissor | uppercase }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Data de nascimento</th>
                    <td>{{ item.dataNascimento | date : "dd/MM/yyyy" }}</td>
                  </tr>
                  <tr>
                    <th scope="row">Locais de embarque</th>
                    <td>
                      {{ item.localEmbarque | asyncLocalEmbarque | async }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
    }

    <div align="end" class="mt-5">
      <button
        type="button"
        class="btn btn-primary"
        [disabled]="cantEnable"
        (click)="adicionarAoCarrinho()"
      >
        Adicionar no carrinho
      </button>
    </div>
  </div>
</main>
