
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="display-6">Termos de uso</div>
                <hr>
                
                <div class="card-event mw-100">
                    <div class="card-event__content p-4" (scroll)="onScroll($event)" style="height: 300px">
                        <article>
                            CONTRATO DE AQUISIÇÃO DE SERVIÇOS DE VIAGEM



                            IDENTIFICAÇÃO DAS PARTES CONTRATANTES

                                

                            CONTRATADO: Prados Turismo, identificada pelo CNPJ 31.853.548/0001-08, registrada no Ministério do Turismo sob o nº 31853548000108 e designada como AGÊNCIA.

                                

                            CONTRATANTE: Pessoa física que registrou ou registrará seus dados em nosso site (www.pradosturismo.com.br) no momento da compra, fornecendo nome completo, CPF, número de telefone e e-mail, com o propósito de receber todas as informações e vouchers da viagem. Dessa forma, é considerado o responsável pela contratação do pacote e designado como CLIENTE.

                            

                            As partes mencionadas anteriormente concordaram e firmaram o presente CONTRATO DE AQUISIÇÃO DE SERVIÇOS DE VIAGEM, o qual será regido pelas cláusulas a seguir descritas.

                            

                            TERMO DE RESPONSABILIDADE

                            

                            Ao contratar os serviços turísticos da AGÊNCIA, autorizo e assumo a responsabilidade pela aquisição do pacote, seja para mim ou para terceiros, atuando como passageiro ou não, e incluindo um ou mais passageiros.

                            

                            Passageiros, cujos dados, tais como nome completo, número para contato, RG, órgão emissor, gênero e data de nascimento, foram registrados claramente no ato da compra.

                            

                            Se o CLIENTE não for a mesma pessoa que o passageiro, o CLIENTE concorda em comunicar ao passageiro as condições gerais deste contrato. Nesse caso, o CLIENTE assume a responsabilidade conjunta por quaisquer ações realizadas pelo passageiro durante a execução do contrato.

                            

                            DA BASE LEGAL PARA O CONTRATO

                            

                            A AGÊNCIA elaborou este contrato com base na Constituição Federal de 1988, no Código Civil de 2015, no Código de Defesa do Consumidor Brasileiro, no decreto nº 7381 de 02/12/2010 e na Convenção de Varsóvia, bem como em outras legislações e deliberações relevantes à situação, seguindo as diretrizes propostas pela Associação Brasileira das Operadoras de Turismo - BRAZTOA.

                            

                            CONDIÇÕES GERAIS DA PRESTAÇÃO DE SERVIÇOS

                            

                            A atividade empresarial da AGÊNCIA consiste na intermediação remunerada entre consumidores e prestadores de serviços turísticos. Portanto a AGÊNCIA não presta diretamente nenhum dos serviços turísticos contratados por meio de sua intermediação, isentando-se, portanto, de responsabilidade por problemas, perdas ou danos resultantes de eventos imprevisíveis ou de força maior, como greves, distúrbios, quarentenas, guerra, fenômenos naturais (tais como terremotos, maremotos, vulcões, furacões, enchentes, avalanches, nevascas), extravio, roubo ou perda de bagagem, assim como insolvência ou falência de fornecedores escolhidos. A AGÊNCIA não possui controle sobre modificações, atrasos ou cancelamentos de trajetos aéreos ou rodoviários, decorrentes de motivos políticos, operacionais, técnicos, de controle ou meteorológicos, sobre os quais não tem poder de previsão, mando ou controle.

                            

                            Considerando que a viagem é organizada para um grupo, é importante que o CLIENTE esteja ciente de que a execução dela está condicionada a um número mínimo de 10 passageiros no pacote. Caso esse número mínimo não seja atingido, a AGÊNCIA se compromete a informar o CLIENTE com até 72 horas de antecedência da viagem, e realizará o reembolso integral dos valores pagos pelo CLIENTE em até 5 dias úteis.

                            

                            DO OBJETIVO CONTRATUAL E PAGAMENTO

                            

                            Este contrato tem como objetivo principal a prestação de serviços de intermediação pela AGÊNCIA ao CLIENTE, abrangendo a aquisição ou reserva do produto conforme especificado no momento da contratação. O CLIENTE deve estar ciente dos serviços adquiridos, incluindo o que está ou não incluso no respectivo preço e pacote escolhido. Os serviços incluídos são explicitamente mencionados na página no pacote antes da compra.

                            

                            O pagamento será escolhido e efetuado pelo próprio CLIENTE, podendo ser realizado por meio de transferência bancária do valor total informado, não sendo aceito pagamento parcial. Alternativamente, o pagamento pode ser feito via cartão de crédito, permitindo parcelamento sem juros de acordo com a promoção atual.

                            

                            DO BILHETE DE PASSAGEM E CONDIÇÕES AÉREAS

                            

                            O bilhete de passagem aérea ou e-ticket é regido pelas normas internacionais (Convenção de Varsóvia) e pelo Código Brasileiro de Aeronáutica. As Companhias Aéreas reservam o direito de alterar ou excluir voos, o que pode incluir, por exemplo, a alteração do horário de embarque, do itinerário ou o aumento do tempo de espera nos aeroportos. Ressaltamos que em todos os casos, a responsabilidade recai exclusivamente sobre a companhia aérea, uma vez que a AGÊNCIA não tem controle ou poder de decisão sobre ela. Em casos de alterações nos voos, o grupo inteiro será reacomodado, considerando que se trata de um pacote de "viagens em grupo".

                            

                            A apresentação do passageiro sem a documentação necessária, ilegível e/ou rasurada implicará no não embarque. A responsabilidade pela perda do embarque, consequências e encargos decorrentes de não comparecimento do passageiro, ou comparecimento fora do horário e local programado, será exclusivamente do passageiro. A AGÊNCIA cumpriu sua obrigação de informar ao CLIENTE sobre essas exigências, isentando-se de culpa caso algum passageiro as descumpra por ação ou omissão.

                            

                            O transporte de bagagens seguirá os critérios de cada companhia aérea, respeitando as orientações da ANAC. As companhias aéreas nacionais oferecem gratuitamente apenas a bagagem de mão. O CLIENTE tem a opção de adquirir o serviço de bagagem despachada de 23kg até o momento do embarque. Danos ou extravios de bagagem devem ser reclamados diretamente à companhia de transporte, e a AGÊNCIA não se responsabiliza por roubo de documentos, valores e objetos pessoais durante a viagem.

                            

                            Os assentos serão distribuídos para o grupo de forma aleatória. O CLIENTE não poderá escolher o assento de sua preferência. A AGÊNCIA fará o possível para proporcionar uma boa experiência, tentando alocar os passageiros próximos de seus acompanhantes.

                            

                            As Companhias Aereas não transportam crianças de 0 a 5 anos incompletos desacompanhadas. É necessário que se tenha um responsável maior de 18 anos munido de autorização legal.

                            

                            DE ALTERAÇÕES NO ROTEIRO E CONDIÇÕES DE EMBARQUE

                            

                            O roteiro poderá ser invertido ou alterado por motivos técnicos ou operacionais, sempre a critério da AGÊNCIA. O CLIENTE não terá a possibilidade de realizar alterações.

                            

                            O CLIENTE reconhece que qualquer perturbação ou ameaça à saúde, integridade física ou moral de qualquer pessoa resultará em sua exclusão da viagem, sem qualquer redução do preço. Além disso, compromete-se a não fraudar, violar ou descumprir os termos estabelecidos neste contrato, sob pena das sanções previstas no mesmo.

                            

                            A AGÊNCIA ressalta que a transportadora aérea e os transportes terrestres, bem como os passeios durante a viagem, não dispõem de tempo de tolerância para atrasos. O CLIENTE assume a responsabilidade de estar ciente de todos os horários programados no roteiro, disponíveis em nosso site e informados nos nossos canais de comunicação direta de forma clara. O não cumprimento dos horários estabelecidos pode resultar em não embarque, levando ao cancelamento da viagem e sujeito a penalidades conforme estipulado, isentando a AGÊNCIA de qualquer responsabilidade.

                            

                            CONDIÇÕES DOS FORNCEDORES

                            

                            A AGÊNCIA ressalta a importância de verificar as regras e políticas de cada fornecedor contratado, tais como transporte, hospedagem e passeios. Essas informações serão fornecidas de maneira clara durante a viagem.

                            

                            DOCUMENTAÇÃO DE VIAGEM – VOUCHERS, PASSAGENS E DOCUMENTOS PESSOAIS:

                            

                            A AGÊNCIA emitirá os documentos de viagem assim que liberados pelos prestadores de serviços. A documentação pessoal legível e atual (passaporte, vistos, vacinas, autorizações para menores etc.) é responsabilidade exclusiva do CLIENTE.

                            

                            POLÍTICA DE ALTERAÇÃO, CANCELAMENTO E REEMBOLSO:

                            

                            Pedidos de cancelamento, alteração ou carta de crédito implicam multas e penalidades de acordo com contratos da AGÊNCIA com fornecedores. Para pacotes de viagem em grupo com aéreo:

                            

                            Até 120 dias antes: multa de 10% do valor total por pessoa.

                            De 119 a 90 dias antes: multa de 30% do valor total por pessoa.

                            De 89 a 60 dias antes: multa de 40% do valor total por pessoa.

                            De 59 a 40 dias antes: multa de 50% do valor total por pessoa.

                            39 dias ou menos antes: NÃO HÁ REEMBOLSO NEM CARTA DE CRÉDITO.

                            

                            Os pedidos de cancelamento ou carta de crédito devem ser comunicados à AGÊNCIA por escrito ou meios eletrônicos. O CLIENTE reconhece as penalidades devido a condições dos fornecedores, especialmente companhias aéreas, e não por decisão exclusiva da AGÊNCIA. Voos com tarifas promocionais não permitem alterações/cancelamentos. A AGÊNCIA sugere seguro com opção de "cancelamento de viagem".

                            

                            A carta de crédito terá validade de 1 ano após o cancelamento formal realizado pela AGÊNCIA. Ela pode ser utilizada em qualquer produto do catálogo da AGÊNCIA, de forma integral ou parcial, e pode ser transferida. Após a escolha da carta de crédito, o CLIENTE fica ciente de que não poderá mais solicitar o reembolso dos valores correspondentes à carta de crédito.

                            

                            O direito de arrependimento, conforme estipulado pela legislação e regras dos fornecedores, permite que o CLIENTE solicite a devolução do valor do pacote turístico no prazo de 7 dias após a celebração do contrato desde que a compra tenha sido realizada com antecedência de 7 dias em relação à data de embarque. Esse pedido deve ser comunicado à AGÊNCIA por escrito ou meios eletrônicos. A AGÊNCIA auxiliará na apresentação da solicitação ao fornecedor do serviço, sendo que, se o fornecedor já tiver recebido o pagamento, será responsável pela devolução. No entanto, para serviços de transporte aéreo, as companhias aéreas podem estabelecer condições específicas de cancelamento, com a possibilidade de exercer o direito de arrependimento em até 24 horas após a compra, sujeito às políticas individuais de cada companhia.

                            

                            A AGÊNCIA realizará o reembolso do valor devido em até 30 dias, com a dedução das despesas administrativas do valor total do contrato, conforme proporção mencionada anteriormente.

                            

                            ALTERAÇÕES

                            

                            Os itens descritos no presente contrato poderão sofrer alterações, unilateralmente e a qualquer momento, por parte da AGÊNCIA, visando adequar ou modificar os serviços, bem como atender novas exigências legais. As alterações serão divulgadas através do nosso site (www.pradosturismo.com.br) ou por meio de canais de comunicação, como Instagram e WhatsApp. O usuário terá a opção de aceitar o novo conteúdo ou de cancelar o uso dos serviços.

                            

                            CONTRATO DE AQUISIÇÃO DE SERVIÇOS DE VIAGEM:

                            

                            O pagamento do pacote e a visualização deste contrato pelo nosso site no momento da compra demonstram que o CLIENTE recebeu, analisou e concordou com as cláusulas, mesmo sem a necessidade de devolução à AGÊNCIA.

                            

                            DO FORO:

                            

                            As partes elegem o foro da Comarca de Fortaleza/CE para possíveis demandas judiciais relacionadas a este contrato.

                            

                            
                        </article>
                    </div>
                    <div class="card-event__actions align-items-center py-2">
                        <div class="form-check form-switch d-flex mx-3 justify-content-center" for="flexSwitchCheckDefault">
                            <input class="form-check-input" type="checkbox" [formControl]="terms" role="switch" id="flexSwitchCheckDefault">
                        </div>
                        <div class="d-flex flex-column w-100">
                            Li e aceito os termos de uso
                            <span class="text-danger">Use a barra de rolagem para ler os termos até o final</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="display-6">Resumo da compra</div>
                <hr>
                
                <app-cart-item [excursao]="excursao()" [pacote]="pacote" [participantes]="participantes()"></app-cart-item>
            </div>
        </div>

        @if (participantes()) {
            <div class="row">
                <div class="display-6 my-3">Dados dos passageiros</div>
                
                <div class="accordion" id="accordion">
                    @for (item of participantes(); track $index) {
                        <div class="accordion-item">
                            <div class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + $index" aria-expanded="true" [attr.aria-controls]="'collapse' + $index">
                                    <i class="fa-solid fa-ticket me-3"></i> {{ item.name }}
                                </button>
                            </div>
                            <div [id]="'collapse' + $index" class="accordion-collapse collapse" data-bs-parent="#accordion">
                                <div class="accordion-body">
                                    <table class="event__table event__table--no-last-border table">
                                        <tbody>
                                            <tr>
                                                <th scope="row">E-mail</th>
                                                <td>{{ item.email }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Telefone</th>
                                                <td>{{ item.phone }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">RG</th>
                                                <td>{{ item.rg }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Órgão emissor</th>
                                                <td>{{ item.orgaoEmissor | uppercase }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Data de nascimento</th>
                                                <td>{{ item.dataNascimento | date: 'dd/MM/yyyy' }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Locais de embarque</th>
                                                <td>{{ item.localEmbarque | asyncLocalEmbarque | async }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }

        <div class="d-flex justify-content-end mt-5">
            <button type="button" class="btn btn-primary" [disabled]="cantEnable" onclick="adicionarAoCarrinho()">Adicionar no carrinho</button>
        </div>
    </div>
</main>