<div class="my-account__profile">
  <div class="my-account__person">
    <span class="my-account__category">{{ rankingName() }}</span>
    <h3>{{ client()?.nome | uppercase }}</h3>
    <div class="my-account__travels">
      <span class="my-account__travels-title">Suas viagens acumuladas</span>
      <span class="my-account__travels-count">{{ qtdViagens() }}</span>
    </div>
  </div>

  <div class="my-account__beneficios">
    <div class="my-account__beneficios-content">
      <p><strong>Benefícios pela sua categoria</strong></p>
      @if (rankingName() == 'Sem Ranking') {
      <p class="my-3">Você ainda não possui benefícios.</p>
      } @else {
      <ul>
        @for (beneficio of pegarBeneficios(rankingName()); track $index) {
        <li>
          {{ beneficio }}
        </li>
        }
      </ul>
      }
      <a href="/programa-de-fidelidade">Conferir mais benefícios</a>
    </div>
  </div>
</div>