<button
    type="button"
    (click)="emitter()"
    [disabled]="disabled || loading"
    style="height: 48px;"
    class="w-100 btn btn-{{ color }}">
    @if (loading) {
        <div class="d-flex align-items-center justify-content-center">
            <mat-spinner class="me-2" [diameter]="20"></mat-spinner> {{ labelLoading }}
        </div>
    } @else {
        <div class="d-flex align-items-center justify-content-center">
            @if (icon) {
                <i class="fa-solid {{ icon }} me-2"></i>
            }
            {{ label }}
        </div>
    }
</button>