<mat-dialog-content class="text-center">
    <i class="fa-regular fa-calendar-check text-success fs-1"></i>
    <div class="display-6 fs-4 my-4">Sua reserva foi registrada com sucesso!</div>
    <p>Você será redirecionado para uma página externa de pagamento. Essa página conta com o mais alto nível de segurança, 
        e nenhum dado financeiro fica armazenado pela Prados Turismo. 
        Assim que o pagamento for confirmado, sua reserva estará concluída, sua vaga garantida, 
        e você receberá no e-mail registrado todas as informações, como o voucher e o contrato.</p>
</mat-dialog-content>
<mat-dialog-actions class="px-4 pb-3" align="center">
  <app-action-button
      labelLoading="Gerando link..."
      label="Pagar"
      color="success"
      [loading]="loading()"
      (action)="redirecionar()"
      />
</mat-dialog-actions>