<mat-dialog-content class="text-center">
  <i
    class="fa-solid  text-{{ data.color }} fs-1"
    [ngClass]="{ 'fa-triangle-exclamation': data.type === 'warning' }"
  ></i>
  <div class="display-6 fs-4 my-4">{{ data.title }}</div>
  <p>{{ data.description }}</p>
</mat-dialog-content>
<mat-dialog-actions class="px-4 pb-3" align="center">
  <app-action-button
    labelLoading="Redirecionando..."
    label="Redirecionar"
    [color]="data.color"
    (action)="redirecionar()"
  />
</mat-dialog-actions>
