.btn {
  &-light {
    padding-inline: 30px;
    border-radius: 20px;
    height: max-content;
    font-size: 1.5rem;
    color: #fff !important;
    background-color: #b9b9b9 !important;
  }
}

.btn-active {
  background-color: var(--color-primary) !important;
}
