<div class="d-flex justify-content-center gap-3 mb-4">
    <button class="btn btn-light" [ngClass]="{ 'btn-active': origem() === 1 }" type="button" (click)="origemChoose(1)">Saindo de Fortaleza - CE</button>
    <button class="btn btn-light" [ngClass]="{ 'btn-active': origem() === 2 }" type="button" (click)="origemChoose(2)">Saindo de Tianguá - CE</button>
</div>

<!-- <form [formGroup]="form" class="my-3">

    <div class="input-group">
        <select class="form-select" formControlName="origem">
            <option [value]="null" disabled selected>Origem</option>
            <option value="1">Fortaleza</option>
            <option value="2">Tianguá</option>
        </select>

        <select class="form-select" formControlName="pacoteId">
            <option [value]="null" disabled selected>Destino</option>
            @for (item of destinos; track $index) {
                <option [value]="item.key">{{ item.value }}</option>
            }
        </select>

        <button class="btn btn-primary" [disabled]="!form.dirty" type="button" (click)="form.reset()">Resetar Filtros</button>
    </div>
</form> -->