.btn {
    &-light {
        padding-inline: 30px;
        border-radius: 30px;
        background-color: #dfdada !important;
    }
}

.btn-active {
    background-color: var(--color-primary) !important;
    color: #fff !important;
}