<table class="table">
  <thead>
    <tr>
      <th scope="col">Pedido</th>
      <th scope="col">Data</th>
      <th scope="col">Status</th>
      <th scope="col">Total</th>
      <th scope="col" class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody>
    
    @if (noReservas()) {
      <tr>
        <td colspan="5" class="text-center">Nenhum pedido realizado.</td>
      </tr>
    }
    
    @for (item of reservas(); track $index) {
        <tr>
          <th scope="row">{{ orderNumber(item.reserva) }}</th>
          <td>{{ item.dataCadastro | date: 'dd/MM/yyyy' }}</td>
          <td>{{ statusLabel(item.status) }}</td>
          <td>{{ item.valorTotal | currency:'BRL':'symbol':'1.2-2' }} </td><!-- de 2 ingressos -->
          <td class="text-center">
            <button class="btn btn-primary">Visualizar</button>
          </td>
        </tr>
    }
  </tbody>
</table>
